[2018-10-24 07:40] ColinDuff opened #3 "Satpy readers only version of SIFT"
When opening products SATPY readers should be used. Satpy is well supported and and have a number of product readers so should be used to open files and have SIFT should have no independent product readers.

[2018-10-24 07:43] ColinDuff opened #4 "Probe/Regions Cursor selector should be changed to a cross hair"
Change the screen cursor for Probe or Region selector to a cross hair as its currently a large disc, making accurate selection or probing difficult.

[2018-10-24 08:23] ColinDuff opened #5 "Pan/Zoom, Probe and Region Buttons unnecessary for Power users"
Experienced/Power users will use the mouse buttons to enables Image probing or selecting a region of interest so there is no need for these buttons to use up the screen real estate.
David did mention that new/inexperienced users may wish to retain these buttons so maybe we can enable/disable them via a config file

[2018-10-24 08:26] ColinDuff opened #6 "User configuration file would be useful"
It would be useful to have a config file so that the user can have an environment suitable for their needs eg The list of available readers could be limited to eumetsat files only.

Also the screen display could be set for new/power users as mentioned in Issue #5

[2018-10-24 08:28] ColinDuff opened #7 "Loading / Displaying pre-defined RGB'S from Satpy"
When i open an MSG file , eg, i would like to see all of the RGB's available for that Product and be able to select/visualize this RGB.

[2018-10-24 08:32] ColinDuff opened #8 "Profile Window should only be visible for suitable products"
There should only be a need for the Profile window to appear , and levels to select, for products that contain this type of data.

Maybe some meta data withing the scene could be useful here

[2018-10-24 13:45] djhoese commented on #4
Do you have a screenshot of the before and after?

[2018-10-24 13:48] djhoese commented on #5
As mentioned on slack, maybe these buttons should be put on their own toolbar, kind of like word processors, where you could toggle its visibility. Some kind of "profile" configuration could be used to set the default.

[2018-10-24 13:52] djhoese commented on #6
This would work really well with the new configuration package I'm working on for SatPy that is based on dask's configuration module (and may be used by dask in the future). The command line could have a `--profile` to specify the path or name of the profile configuration to use. SIFT would need to have default locations to look for profile YAML files and would also have to have one that shows the

[2018-10-24 15:39] ColinDuff commented on #3
Hi , i had already changed File Open to now use Satpy readers but what about your own data that you needed the File Open for - are these now all in Satpy

[2018-10-24 16:13] djhoese commented on #3
The basic reading of data is probably implemented for each (really just ABI and AHI in L1B format) in SatPy, but may not produce all of the necessary metadata that SIFT would need. We would not want to remove File->Open until at least version 1.1 of SIFT.

[2018-11-02 09:46] ColinDuff commented on #4
Changing the Prompt
After
![screenshot_2018-11-01_10-21-48](https://user-images.githubusercontent.com/16986603/47907821-42a99d80-de8c-11e8-9bdf-1e92fd41998a.png)
Before
![screenshot_2018-11-01_10-29-14](https://user-images.githubusercontent.com/16986603/47907822-42a99d80-de8c-11e8-8e8e-5e932570ef52.png)

[2018-11-02 09:47] ColinDuff commented on #4
I am still looking into the ROI selection - Sauli has some ideas

[2018-11-02 13:53] djhoese commented on #4
So I have two issues with the current screenshot:

1. It is white. This can be hard to see on grayscale imagery.
2. It is small. SIFT is used for training forecasters who don't always have the best eyes. I recall @jgerth having issues with this in previous versions of SIFT during training courses.

[2018-11-06 15:58] ColinDuff opened #9 "Overview image of data layers are misaligned"
![ndvi_screenshot_nans](https://user-images.githubusercontent.com/16986603/48076341-49fedd00-e1e5-11e8-985e-67db1b33157a.png)

In the satpy reader we have set some values to nan to remove them from the final image.

Here we can see some areas , that contain nans , display heavily pixelated data on the screen. In particular look at the 2 versions of Madagascar.
Probing these pixels shows nan as the

[2018-11-06 16:02] djhoese commented on #9
I'm re-titling this issue to better describe what is going on. This is not image corruption. This is the "overview" image underneath the high resolution data being mis-aligned (bad navigation/pixel choices). This has never been a problem before because we've never had transparent layers like this.

In the simplest case, the overview image should be fixed to look "better". However, I have a feeling

[2018-11-06 16:02] djhoese commented on #9
@ColinDuff Also not all of your images seem to be showing up.

[2018-11-06 16:04] ColinDuff commented on #9
hi, i inserted only 2 images - 1 sift image and 1 satpy image - how many do you see?

[2018-11-06 16:05] djhoese commented on #9
I deleted my comment. A refresh of the page loaded the two images.

[2018-11-07 08:37] sjoro commented on #4
I would suggest some kind of config for these kind of "look and feel" options.

[2018-11-07 08:53] sjoro opened #10 "Implement data statistics for ROI selections"
It would be useful to have a way to get/view some basic statistics (`min`, `max`, `mean`, `stddev`, ...) of the loaded layers. Full disk would be the default, but if the user has selected a ROI, the statistics would apply to the selected region.

I have no strong opinion on how to represent and show this in the GUI, but it could be, for example, a new tab next to "Layer Details".

[2018-12-06 17:15] djhoese commented on #8
By profile window do you mean the window in the open file wizard where you choose which levels to load? We have been talking about this more recently. The thought was that the open file wizard would (besides becoming the only open menu) be smart enough to figure out that a set of products were `per-file` and skip the product selection screen.

[2018-12-06 17:23] djhoese opened #12 "Add user 'profiles'"
@sjoro and I have been talking about this on the PyTroll slack. The idea is that it would be nice for certain settings to be configurable by the user and stored in a configuration file. This is extremely important for easy collaboration between SSEC and EUMETSAT on SIFT. We could have one profile as the default and another that defaults to settings preferred by the eumetsat crowd. This could be ex

[2018-12-14 10:54] sjoro opened #13 "Data probing not accurate"
Data probing a pixel returns inaccurate values. Example given in the attached images.

capture 1: correct probing of the light grey pixel with the value of 0.279
capture 2: probing the pixel to the left still returns the same value of 0.279
capture 3: probing the pixel to upper left again returns the same value of 0.279
capture 4: correct probing of upper left pixel with the value of 0.082

![capt

[2018-12-14 10:56] sjoro commented on #12
This issue supersedes issue [#6](https://github.com/ssec/sift/issues/6).

[2018-12-14 11:00] sjoro commented on #13
Can this be related to [#9](https://github.com/ssec/sift/issues/9)?

[2018-12-14 13:52] djhoese commented on #13
The issue in #9 is similar but not the same. The issue described here is a known issue (there is a gitlab issue for it that hasn't been transferred here yet) but was considered low-priority because I assumed not many users need to be probing at half-pixel resolution. If I recall correctly that's all this is, the probe coordinate is off by half a pixel or the visual is off by half a pixel.

[2018-12-14 13:55] djhoese commented on #6
Let's move any future discussion of this to #12. Closing this.

[2018-12-14 13:55] #6 closed

[2018-12-14 14:11] sjoro commented on #13
ok, thanks for the info. EUM will need accurate probing for image navigation verification. not an urgent issue at the moment, but should be fixed.

[2019-02-07 13:29] djhoese opened #14 "imageio now requires separate imageio-ffmpeg package"
Starting with `imageio` 2.5.0 there is a separate dependency called `imageio-ffmpeg` that needs to be installed. See https://github.com/imageio/imageio-ffmpeg/issues/9 and https://github.com/conda-forge/staged-recipes/pull/7730.

We'll need to add this package to the `meta.yaml` for sift.

[2019-02-13 19:55] djhoese opened #15 "Add prefix to ABI L1B "fusion" products"
Add "Fused" prefix (or similar) to ABI L1B data that comes from the ABI fusion products; bands created from other bands when GOES-17 is experiencing instrument heating issues.

The products, so far, are just like the original L1B files but start with "FR" in the filename and have a global attribute called "fusion_args":

[code]

This is probably best implemented as a new metadata magic handling wh

[2019-02-27 15:15] djhoese opened #17 "sketch of incremental loading with a thread/process pool, including GUI progress bar"
In GitLab by @rayg-ssec on Sep 2, 2015, 12:31

We need to load a coarse overview tile immediately and then progressively bring in data at resolution closely matching the screen. Demonstrate how this is done. The application needs a Task object class with a pool and a queue (like Activity Monitor in Mail.app, or Tasks in Aperture, or...). User must always know what the app is up to and when things

[2019-02-27 15:15] djhoese commented on #17
In GitLab by @djhoese on Oct 25, 2018, 13:39

@rayg-ssec Would you consider this resolved? Eh, maybe not.

[2019-02-27 15:15] djhoese commented on #17
In GitLab by @rayg-ssec on Oct 25, 2018, 13:44

We have background loading with a halfway decent progress bar feedvback, but not incremental loading.

[2019-02-27 15:16] djhoese opened #18 "convert map boundaries into VertexBuffer with a shader on a Layer"
In GitLab by @rayg-ssec on Sep 2, 2015, 12:33

- convert lat/lon map boundary via PROJ4 into a projected coordinate VBO backed by a gloo.Program, such that political and geographical boundaries can be plotted with selectable line color/weight/alpha, as a Layer subclass e.g. PoliticalBoundariesVectorLayer. Use data from Matplotlib or elsewhere.

[2019-02-27 15:16] djhoese commented on #18
In GitLab by @djhoese on Sep 8, 2015, 14:39

I've talked with Martin Raspaud of the pytroll team and done some googling and I think the best way to do this is to use the NetCDF or shape files that can be found here: https://www.ngdc.noaa.gov/mgg/shorelines/gshhs.html

Shape files and binary files have links on the SOEST server page.

I asked Martin if he thinks shape files would be easier to use s

[2019-02-27 15:16] djhoese commented on #18
In GitLab by @djhoese on Sep 8, 2015, 16:10

Added Wiki page [here](https://gitlab.ssec.wisc.edu/rayg/CSPOV/wikis/map-boundaries)

[2019-02-27 15:16] djhoese commented on #18
In GitLab by @djhoese on Sep 25, 2015, 12:21

I've updated the wiki page to explain what I've learned about Natural Earth. I've also added a layer rep to CSPOV that can handle loading shapefiles as a set of polygons. At first I had performance problems because the shape files had a lot of little islands and other shapes so creating a LineVisual object for each one was a big problem. I updated the

[2019-02-27 15:16] djhoese commented on #18
In GitLab by @djhoese on Oct 1, 2018, 16:50

mentioned in commit f8d2a69a7bd502d550156f4652bffa34ad22a857

[2019-02-27 15:16] #18 closed

[2019-02-27 15:16] djhoese opened #19 "layer widget improvements for ordering and animation"
In GitLab by @rayg-ssec on Sep 6, 2015, 11:59

Layer widget is currently a simple list view. This needs to include
- visibility toggle (visibility when not animating)
- animation order (1..n, what order it's cycled when animating)
- color map summary, if it has one
- selection (selected / deselected)

An intuitive way of marking the animation order is also needed. For instance, option click the la

[2019-02-27 15:16] djhoese commented on #19
In GitLab by @evas-ssec on Oct 23, 2015, 14:44

I'll try to do some of this stuff while redesigning the layer controls.

[2019-02-27 15:16] djhoese commented on #19
In GitLab by @jgerth on Oct 25, 2015, 23:55

I am not sure if this is the right issue for this, but, if a single time is loaded with multiple bands, it is preferable that an animation would cycle through the bands, instead of nothing. If multiple bands are loaded, they should appear in ascending order of band number by default (current version loads them in some random order). Otherwise, the anima

[2019-02-27 15:16] djhoese commented on #19
In GitLab by @rayg-ssec on Oct 27, 2015, 13:34

Right now we've got the "O" button which will set the animation order based off the current selected layer and its same-band time siblings. I'm thinking about making that into shift+left/right-arrow to be logical. Then shift+up/down-arrow could do the same for the same-time band siblings. By default opening a file currently assumes that you want the

[2019-02-27 15:16] djhoese commented on #19
In GitLab by @rayg-ssec on Oct 30, 2015, 08:46

Displaying and setting the animation order still needs to be done for this by @rayg-ssec .

[2019-02-27 15:16] djhoese commented on #19
In GitLab by @rayg-ssec on Nov 3, 2015, 07:42

@evas-ssec implemented layer order visibility and I think we've got all the pending requests handled for bandwise & timewise animation order/loading. Explicit setting of the animation order still remains to be done but that's punted to 1.1.

[2019-02-27 15:16] djhoese commented on #19
In GitLab by @evas-ssec on Nov 3, 2015, 12:14

Displaying the animation order in the layers list should happen as of yesterday. I can start designing an animation editing pane of some sort whenever we are out of bugs to fix for the next release.

[2019-02-27 15:16] djhoese commented on #19
In GitLab by @djhoese on Oct 18, 2017, 17:01

closed

[2019-02-27 15:16] #19 closed

[2019-02-27 15:16] djhoese opened #20 "animation controls"
In GitLab by @rayg-ssec on Sep 6, 2015, 12:03

An animation self-test can be run with
TIFF_GLOB='/path/to/2015_07_14_195/0?00/HS*_B03_*merc.tif' VERBOSITY=3 python -m cspov

Toggle animation with 'a' key. It currently just loops through the loaded layers at 10fps.

Animation rate should be controllable
Animation frame number should be shown
User should be able to scrub through animation frames wit

[2019-02-27 15:16] #20 closed

[2019-02-27 15:17] djhoese opened #21 "guidebook for AHI data"
In GitLab by @rayg-ssec on Sep 6, 2015, 12:05

A guidebook (eventually backed by a config file) should match file identifying marks to things like default color bars, ranges, enhancements, when creating new layers in the document. This should be propagated into configuring the LayerRep used, including tile_class.

[2019-02-27 15:17] djhoese commented on #21
In GitLab by @djhoese on Sep 8, 2015, 14:43

I'd like to suggest INI as a better option than XML (used in AWIPS) or CSV (also used in AWIPS I think). I feel like formatting might be easier to write and harder to screw up than JSON. Multiple INI files can also be loaded in one config parser so separating them out on disk and joining them in memory is very easy.

[2019-02-27 15:17] djhoese commented on #21
In GitLab by @rayg-ssec on Oct 30, 2015, 08:45

This is actively being used now. Still not represented as a config file however.

[2019-02-27 15:17] #21 closed

[2019-02-27 15:17] djhoese opened #22 "cursor data value probe"
In GitLab by @rayg-ssec on Sep 6, 2015, 12:08

A mouse probe should recover the value of current selected layer under the cursor initially; where transparency is involved we ultimately want to "see through" transparency to the topmost layer being displayed. The data value should be put onto a widget, with document information on units (which probably comes from the guidebook).

This should be acti

[2019-02-27 15:17] djhoese commented on #22
In GitLab by @djhoese on Sep 25, 2015, 12:03

Vispy provides a few "filters" one of which is called a "PickingFilter" but now that I look at the source I don't think it's what we want. Either way mentioning filters is important because it allows you to add functionality to a shader without modifying it directly:
http://vispy.org/visuals.html#module-vispy.visuals.filters

[2019-02-27 15:17] djhoese commented on #22
In GitLab by @rayg-ssec on Oct 1, 2015, 21:48

- As user moves cursor around screen, X/Y coordinates are reported as a signal
- Receiver of signal locates corresponding point in highest LOD available for selected dataset in the document
- Text field on GUI is updated with the data value at that coordinate

Shortcut/interim solution: at least get the value of the selected layer from the current til

[2019-02-27 15:17] djhoese commented on #22
In GitLab by @evas-ssec on Oct 20, 2015, 15:21

In the current develop branch when you select a point with no data there is a value error in the background but no feedback in the UI (it maintains whatever value was previously visible as the point sample). It would be better to put N/A or None or some other clearly placeholder value into the UI so the user understands the point they tried to sample

[2019-02-27 15:17] djhoese commented on #22
In GitLab by @djhoese on Oct 29, 2015, 19:02

This has been completed and related bugs fixed. The only feature that doesn't work from the original description is "seeing through transparency" but this is a very difficult problem to solve and should be pushed to a future version in a separate issue (if still desired).

[2019-02-27 15:17] #22 closed

[2019-02-27 15:17] djhoese opened #23 "populate stock colormap sets from Eva & Nick knowledge"
In GitLab by @rayg-ssec on Sep 6, 2015, 12:31

Right now Program.py only includes two color maps - grey and hot. The current setup allows for up to 16 color maps to be loaded into the GPU and easily selected among.

Eva and Nick have color maps for a variety of purposes that could be included in the default set. Adding those to Program.py (as hardcoded data in the short term, as data files in the

[2019-02-27 15:17] djhoese commented on #23
In GitLab by @djhoese on Sep 25, 2015, 11:56

FYI vispy includes many colormaps that can be addressed by name. A lot of the ones they've included I believe they got from matplotlib. They also have a colormap class and utility functions for creating your own. And with matplotlib's newest default colormapping change they should have utilities for generating colormaps too.

[2019-02-27 15:17] djhoese commented on #23
In GitLab by @evas-ssec on Oct 20, 2015, 15:24

Glance has customizable colormaps (via the config inputs) but I don't have a lot of info about what people want for specific data. The Glance GUI basically has rainbow, reversed rainbow, desaturated rainbow, grayscale, and desaturated grayscale. Those are ones I picked, not something someone else asked for.

[2019-02-27 15:17] djhoese commented on #23
In GitLab by @djhoese on Oct 20, 2015, 15:51

I can't find the other issue related to this (maybe I didn't make it), but Jordan provided us with XML copies of the colormaps that he uses most often in AWIPS. Those files were put on FTP and are probably gone now. If anyone would like to see them I think Ray and I have a copy.

...looks like I didn't actually make another issue. I had planned on conv

[2019-02-27 15:17] djhoese commented on #23
In GitLab by @djhoese on Oct 24, 2015, 19:55

This has been completed using vispy colormaps and their base classes. I've converted XML versions of the AWIPS colormaps provided by Jordan into vispy compatible colormaps. I was able to get clim normalization and color mapping into the fragment shader. Vispy already had colormaps done that way, but normalization was done in CPU to keep OpenGL-ES compa

[2019-02-27 15:17] #23 closed

[2019-02-27 15:17] djhoese opened #24 "smarter tile generation and tracking"
In GitLab by @rayg-ssec on Sep 6, 2015, 15:40

Right now we're generating too many tiles with small textures when displaying large areas. This is a performance hit, especially with larger numbers of layers.

common.MercatorTileCalc is used by tile image LayerReps to handle this currently. It provides the basic calculations. Consider turning this into a TileGeometryManager and make it more stateful

[2019-02-27 15:17] djhoese commented on #24
In GitLab by @djhoese on Sep 25, 2015, 11:54

I've rewritten the image layer representative to use vispy ImageVisual as a base so it can get added to a vispy scene graph. I've also written my own TextureAtlas2D so that we can store all of our texture data in one large texture and still individually address it. This allows us to have one large array of vertices and texture coordinates for better pe

[2019-02-27 15:17] djhoese commented on #24
In GitLab by @djhoese on Oct 29, 2015, 18:59

This has all been completed...a long time ago. Lost track of this bug.

[2019-02-27 15:18] #24 closed

[2019-02-27 15:18] djhoese opened #25 "Antimeridian wrapping"
In GitLab by @djhoese on Sep 25, 2015, 12:25

Users should be able to view an entire data across the globe without having to deal with cutoff lines at the anti-meridian (-180/180). This is especially important for V1.0 since Guam users will be looking at Pacific data the most.

[2019-02-27 15:18] djhoese commented on #25
In GitLab by @djhoese on Sep 25, 2015, 12:32

I've already got simple wrapping working for the border layer but it doubles the memory usage in the GPU. This is obviously not the best solution, but it also only took 2 extra lines of code.

For image layers we have a couple choices:

 * Make 2 copies of the layer rep.
    - This is a bad decision since it complicates all of the things using the lay

[2019-02-27 15:18] djhoese commented on #25
In GitLab by @djhoese on Oct 20, 2015, 08:02

This was completed and then taken away to support non-global mercator images. See #16.

[2019-02-27 15:18] #25 closed

[2019-02-27 15:18] djhoese opened #26 "Overviews on image layers"
In GitLab by @djhoese on Sep 25, 2015, 13:23

An overview is a very low resolution copy of the image being displayed that fits in to one tile. This image should always be shown when the image layer as a whole is visible. This way fast panning and zooming shows something to the user.

[2019-02-27 15:18] djhoese commented on #26
In GitLab by @djhoese on Sep 25, 2015, 13:25

There are a couple choices for how to implement this:

 * A separate ImageVisual layer that has its own node in the scene graph.
    - Not the best idea. Super easy to implement, but separates a part of the image from the layer object
 * Add it as just another tile to the image layer but have special code to display it all the time.
    - This should b

[2019-02-27 15:18] djhoese commented on #26
In GitLab by @djhoese on Oct 1, 2015, 10:24

I've completed this with commit 478c27e9a0a49c52087f944956157b0a72971316. I chose to do it with method 2 above. It sits in the texture and never expires. I was able to place the vertices and texture coordinates at the end of the arrays and that made the overview image get drawn behind all of the higher resolution tiles. This may be dependent on the spec

[2019-02-27 15:18] djhoese commented on #26
In GitLab by @djhoese on Nov 19, 2018, 14:35

mentioned in commit 68a7430b303c25bb1fac9793ee07268252f58e0e

[2019-02-27 15:18] #26 closed

[2019-02-27 15:18] djhoese opened #27 "Make sure tiles update when animating"
In GitLab by @djhoese on Sep 30, 2015, 11:03

The pieces aren't connected in the way they will be, but my current testing version does not update tile data while an animation is happening. So this is less of a current bug and more of a "make sure this works when things are more finalized".

[2019-02-27 15:18] djhoese commented on #27
In GitLab by @rayg-ssec on Sep 30, 2015, 17:40

Similarly, zooming and panning should not slow down or stop animation. Not sure if this is a separate ticket or not. Can wait until after demo.

[2019-02-27 15:18] djhoese commented on #27
In GitLab by @djhoese on Oct 8, 2015, 08:53

This has been fixed. The main issue was that retiling was being "scheduled" or assessed for every draw event. So while animating, every new frame triggered a redraw which in turn started the debouncing timer for reassessment. So on a quick animation timer the debouncing timer was restarted every frame causing a timeout to never occur. If the animation t

[2019-02-27 15:18] #27 closed

[2019-02-27 15:18] djhoese opened #28 "SceneGraphManager Area Select functionality needed"
In GitLab by @rayg-ssec on Oct 1, 2015, 21:46

We need scene graph to support area selection. For now, 1 area, eventually 2 or more.

### Scene graph / SceneGraphManager responsibility:
- User presses selection tool button or command (command goes to SGM to switch from pan/zoom tool to select tool)
- User clicks and drags around an area of the map window
- Rubber-band area is created and shown on

[2019-02-27 15:18] djhoese commented on #28
In GitLab by @rayg-ssec on Oct 3, 2015, 11:54

Cursor signal => X/Y projection coordinates as cursor moves

Point selection => document layer
Line/Arc selection => document layer, follows Great Circle ideally
Polygon selection => document layer

One or more layers can be selected and have things applied to them
- probe: typically takes one selection layer and one content layer, shows information i

[2019-02-27 15:18] djhoese commented on #28
In GitLab by @djhoese on Oct 14, 2015, 19:09

More on this is discussed in #21. We currently have polygon/region/area selection working but it is very simple. I need to finalize how it works with the camera (hopefully doesn't involve it at all). See the other issue for that discussion.

Right now it places markers where you click until you've completed a polygon and then does the proper signals wi

[2019-02-27 15:18] djhoese commented on #28
In GitLab by @evas-ssec on Oct 23, 2015, 14:40

There is a bug (at least on Mac) where if you place some markers and then zoom it becomes impossible to finish connecting the markers and form a probe area.

[2019-02-27 15:18] djhoese commented on #28
In GitLab by @djhoese on Oct 26, 2015, 14:59

Although this isn't done the way we expect, it's usable. In the future we can expand to doing more hover-y lasso tool type stuff, but for v1.0 this is done.

[2019-02-27 15:18] #28 closed

[2019-02-27 15:19] djhoese opened #29 "color map selector list box"
In GitLab by @rayg-ssec on Oct 1, 2015, 21:50

- Create a button subclass that shows a color map, with the color map name overlaid
- Make a list or other selector which allows color map to be changed
- add color map indicator to document layer list window
- bring up color map change utility

[2019-02-27 15:19] djhoese commented on #29
In GitLab by @djhoese on Oct 29, 2015, 18:58

For version 1.0 this has been completed with a context menu on the layers in the layer list.

[2019-02-27 15:19] #29 closed

[2019-02-27 15:19] djhoese opened #30 "RGB combination of three layers"
In GitLab by @rayg-ssec on Oct 1, 2015, 21:53

First order implementation
- User selects three layers
- User brings up combinations / enhancements panel
- User selects RGB enhancement from available enhancements
- User assigns each channel to R,G,B with UI controls
- SGM is told to replace image layers with a single image layer combining three datasets

[2019-02-27 15:19] djhoese commented on #30
In GitLab by @djhoese on Oct 18, 2017, 16:06

closed

[2019-02-27 15:19] #30 closed

[2019-02-27 15:19] djhoese opened #31 "Accept non-global mercator images"
In GitLab by @djhoese on Oct 8, 2015, 08:47

Problem
-------

Currently we are testing CSPOV with mercator images that cover the whole earth from -180 to 180 longitude. We also display this image twice for a total "earth view" of -180 to 540 degrees longitude to create one complete and continuous image. These input images are of AHI data that mostly covers the Pacific ocean on top of the antimerid

[2019-02-27 15:19] djhoese commented on #31
In GitLab by @djhoese on Oct 20, 2015, 08:01

We have simplified this so that non-global images are simply shown once and not wrapped. This should work for almost all Guam cases unless we subset the data so it lies completely in the negative longitude side of the antimeridian. In this case the image would show up on the left most side of the scene map view instead of in the center where the antime

[2019-02-27 15:19] #31 closed

[2019-02-27 15:19] djhoese opened #32 "cleanup on application exit in Windows"
In GitLab by @rayg-ssec on Oct 8, 2015, 12:23

We're getting an unclean exit in Windows - this could be thread cleanup, application state cleanup, or even just a simple result code.

[2019-02-27 15:19] djhoese commented on #32
In GitLab by @rayg-ssec on Nov 9, 2015, 12:36

Possibly related, an instance of a (rare) crash on mac yields this stack trace:

[code]

[2019-02-27 15:19] djhoese commented on #32
In GitLab by @djhoese on Nov 23, 2015, 11:04

It may be helpful to double check how the threads are used by comparing them to usage like what's described here: http://blog.debao.me/2013/08/how-to-use-qthread-in-the-right-way-part-1/

[2019-02-27 15:19] djhoese commented on #32
In GitLab by @djhoese on Apr 29, 2016, 13:27

Small update on this, it still seems to happen where Windows (and possibly mac) waits for threads to quit or does not exist properly.

[2019-02-27 15:19] djhoese commented on #32
In GitLab by @djhoese on Oct 18, 2017, 12:13

@ScottLindstrom or @jgerth have you seen bad application closes any time recently with Windows? I know Scott has been using Linux but maybe you've seen something?

[2019-02-27 15:19] djhoese commented on #32
In GitLab by @ScottLindstrom on Oct 18, 2017, 13:21

@djhoese :  I don't think.  Now, when I leave SIFT on crusher, I'm not really paying attention to any errors that might show.  But I don't think I see any errors.  Next time I use it I'll keep this in mind.

[2019-02-27 15:19] djhoese opened #33 "Create Anaconda Installer"
In GitLab by @djhoese on Oct 8, 2015, 17:18

It seems that we can create a script/executable that automatically installs and creates an anaconda environment to run CSPOV. I have not tested this, but have found this:

http://docs.continuum.io/anaconda-server/command-line/cas-installer#cas-installer

[2019-02-27 15:19] djhoese commented on #33
In GitLab by @djhoese on Nov 25, 2015, 11:26

I started looking in to this and am having trouble understanding some things about their business model. It seems that I can only use these packaging tools if I have purchased the Anaconda Server product. I've searched around and can't seem to find a way to purchase it. I've contacted their sales team to get more information about this. I also signed u

[2019-02-27 15:19] djhoese commented on #33
In GitLab by @djhoese on Nov 25, 2015, 12:19

Got a response from the Continuum Analytics. Anaconda Server is now named Anaconda Workgroup, but from what I see on the website this is just one of the pricing plans. As academic users we can get it for the cheap price of $7,500/year.

I'll keep looking...

[2019-02-27 15:19] djhoese commented on #33
In GitLab by @djhoese on Apr 4, 2016, 12:56

This doesn't seem possible at this moment so for now I will close this. The workaround is to freeze SIFT using pyinstaller and then use Inno Setup to create a installer executable.

[2019-02-27 15:19] #33 closed

[2019-02-27 15:20] djhoese opened #34 "Create Conda Channel"
In GitLab by @djhoese on Oct 8, 2015, 17:23

In combination with #18 we should create our own channel for Anaconda to control the versions of CSPOV and its dependencies that are made available to users. The common way to do this use to be binstar, but that has been absorbed in to anaconda.org. I've found these instructions (link below), but Coda Phillips has experience creating his own custom chan

[2019-02-27 15:20] djhoese commented on #34
In GitLab by @djhoese on Oct 20, 2015, 08:00

This is complete and package build instructions can be found on the wiki here: https://gitlab.ssec.wisc.edu/rayg/CSPOV/wikis/conda-package-building

You can specify the channel with conda using the `-c http://larch.ssec.wisc.edu/channels/cspov` flag.

[2019-02-27 15:20] #34 closed

[2019-02-27 15:20] djhoese opened #35 "Add Lat/Lon Grid as new layer"
In GitLab by @djhoese on Oct 14, 2015, 17:23

A new layer should be added by default to the scene graph (or the document adding it by default). It should use a line visual similar to the borders/shapefile layer.

For an initial version this could/should just be a static resolution (5-10 degrees). If possible (or if time permits) try to make the resolution vary based on Z level. Another optional fe

[2019-02-27 15:20] djhoese commented on #35
In GitLab by @djhoese on Oct 26, 2015, 10:04

Status changed to closed by commit bc05ca0ddaf494127855e2847dcdb4a9e0b6269b

[2019-02-27 15:20] #35 closed

[2019-02-27 15:20] djhoese opened #36 "Improve camera and probe interactions"
In GitLab by @djhoese on Oct 14, 2015, 17:34

Right now the UI has 3 buttons to choose between Pan/Zoom, Point Probe, and Polygon/Region Probe functionality. Under the hood this is switching vispy cameras to handle mouse events. At the recent meeting the point probe should also be changed to show a marker where it is recording values. At the meeting we also discussed additional probe features. It

[2019-02-27 15:20] djhoese commented on #36
In GitLab by @djhoese on Oct 14, 2015, 17:37

We had also talked about whether the point probe should show one layer or all. It would be easiest for the user if the values for all layers were shown since during animations it could be a little difficult to see what's going on.

[2019-02-27 15:20] djhoese commented on #36
In GitLab by @djhoese on Oct 14, 2015, 19:13

I also mentioned last meeting that it would probably be easiest for the user and us as developers if the point probe was done with the right click and the polygon/region selection was done with a Shift + right click. This should be fairly simple assuming that our camera subclass doesn't eat up the signal/event.

[2019-02-27 15:20] djhoese commented on #36
In GitLab by @evas-ssec on Oct 21, 2015, 10:52

As a future enhancement, consider changing the mouse cursor when you change the meaning of the user's clicks (like when they hold down shift to zoom change it to a magnifying glass). This gives the user another level of feedback on how they are manipulating the controls and what clicking will achieve.

[2019-02-27 15:20] djhoese commented on #36
In GitLab by @djhoese on Nov 1, 2015, 15:15

Added buttons to select the tool being used for left click. These buttons also have cursor changes, but pressing the "Shift" key does not affect the cursor. Another ticket can be made for that if needed.

[2019-02-27 15:20] #36 closed

[2019-02-27 15:20] djhoese opened #37 "Add current frames time to display"
In GitLab by @djhoese on Oct 14, 2015, 17:35

Right now the animation loops without giving any indication (except for the slider on the bottom) of what frame it is currently on. It would be best for users if the time of the current layer being displayed is shown somewhere.

[2019-02-27 15:20] djhoese commented on #37
In GitLab by @rayg-ssec on Oct 20, 2015, 11:22

In progress on feature-animation-consistency

[2019-02-27 15:20] djhoese commented on #37
In GitLab by @rayg-ssec on Oct 24, 2015, 22:26

This should be closed, but for a glitch that Jordan noted on opening another band which Ray needs to reproduce.

[2019-02-27 15:20] djhoese commented on #37
In GitLab by @rayg-ssec on Oct 25, 2015, 22:21

closing this since another ticket exists for the single-time glitch.

[2019-02-27 15:20] #37 closed

[2019-02-27 15:20] djhoese opened #38 "Connect animation to left and right arrow keys"
In GitLab by @djhoese on Oct 14, 2015, 17:36

Right now next frame animation is attached to the 'n' key. A previous frame method should be added and connected to the left arrow key. The next frame should be connected to the right arrow key.

[2019-02-27 15:20] djhoese commented on #38
In GitLab by @djhoese on Oct 14, 2015, 17:40

At our last meeting we had also talked about using the up/down keys to switch between bands. @rayg-ssec wanted to think on this more since it would make it seem that time is in the left to right dimension and band/product is in the up and down direction. This could/should probably be visualized in the layer list some how.

[2019-02-27 15:21] #38 closed

[2019-02-27 15:21] djhoese opened #39 "Add lat/lon read out to point probe"
In GitLab by @djhoese on Oct 14, 2015, 17:41

Add a longitude and latitude value somewhere on the UI next to the probe value.

[2019-02-27 15:21] djhoese commented on #39
In GitLab by @evas-ssec on Oct 21, 2015, 10:53

If you create a lon/lat layer, couldn't they just point probe that layer?

[2019-02-27 15:21] djhoese commented on #39
In GitLab by @djhoese on Oct 21, 2015, 11:12

The point probe is providing the document a mercator x/y so the document shouldn't **need** to consult the lat/lon grid layer to calculate the lat/lon values. If it makes more sense to do it that way then of course we could do it, but since the Workspace needs to be consulted for the image data maybe the document or workspace could do that calculation.

[2019-02-27 15:21] djhoese commented on #39
In GitLab by @djhoese on Oct 24, 2015, 20:02

If we can finish #46 and add a lat/lon grid layer like in #20 then this should be super easy.

[2019-02-27 15:21] #39 closed

[2019-02-27 15:21] djhoese opened #40 "Schedule retile with other events"
In GitLab by @djhoese on Oct 16, 2015, 12:35

Right now if a layer is added while we are zoomed in it does not schedule a retile. You can see this by zooming in and adding a layer. The image will be at the overview resolution until you pan or zoom.

[2019-02-27 15:21] djhoese commented on #40
In GitLab by @djhoese on Oct 24, 2015, 19:59

This has been fixed. After a layer is added an assessment is made.

[2019-02-27 15:21] #40 closed

[2019-02-27 15:21] djhoese opened #41 "Demonstrate additive vs normal blending mode on colormap shader"
In GitLab by @rayg-ssec on Oct 16, 2015, 14:02

https://en.wikibooks.org/wiki/GLSL_Programming/Unity/Order-Independent_Transparency
If the depth test is turned off in the GL context it appears that additive blending is legal and productive, i.e. gl_FragColor = gl_FragColor + _____ .

We want to demonstrate RGB composites by setting a R, G, or B colormap on three layers, and toggling the blending m

[2019-02-27 15:21] djhoese commented on #41
In GitLab by @djhoese on Oct 16, 2015, 14:03

http://stackoverflow.com/questions/10158290/glsl-blending-modes-creating-additive-transparency

[2019-02-27 15:21] djhoese commented on #41
In GitLab by @evas-ssec on Oct 21, 2015, 10:55

Would it make sense to add an "opacity" property to each of the layers and let users set that as well as entirely turning layers on and off?

[2019-02-27 15:21] djhoese commented on #41
In GitLab by @djhoese on Oct 21, 2015, 11:12

I think it would make sense, but probably not for 1.0 (this issue is already 1.5).

[2019-02-27 15:21] djhoese commented on #41
In GitLab by @djhoese on Oct 18, 2017, 16:49

@rayg-ssec Correct me if I'm wrong but I think this isn't needed anymore. It could be useful for opacity as Eva suggested, but I don't think we would implement it that way. I would rather do that with an alpha slider that adds a uniform to the shader similar to gamma.

[2019-02-27 15:21] djhoese commented on #41
In GitLab by @djhoese on Nov 17, 2017, 13:13

closed

[2019-02-27 15:21] #41 closed

[2019-02-27 15:21] djhoese opened #42 "Get Guam Test Cases into Mercator Geotiffs"
In GitLab by @djhoese on Oct 16, 2015, 14:10

We need to gather and process the data that will be used during the training. Below are copies of the emails along with a checklist to keep track.

Checklist
---------

 - [x] Jordan Gerth
   - [ ] Japanese Volcan Eruption
       - [ ] Every 10 minutes between 2015/05/29 00:30 UTC and 04:00 UTC (22 frames) (10N to 40N and 120E to 150E)
   - [x] Twin ty

[2019-02-27 15:21] djhoese commented on #42
In GitLab by @djhoese on Oct 17, 2015, 07:57

@rayg-ssec We should maybe consider organizing the cases with softlinks: http://www.howtogeek.com/howto/16226/complete-guide-to-symbolic-links-symlinks-on-windows-or-linux/

[2019-02-27 15:21] djhoese commented on #42
In GitLab by @djhoese on Oct 19, 2015, 13:11

Another test case from Tim Schmit:

[2019-02-27 15:21] djhoese commented on #42
In GitLab by @cphillips on Oct 21, 2015, 09:52

No ahi FLDK files for 20151007_2030.

[2019-02-27 15:22] djhoese commented on #42
In GitLab by @djhoese on Nov 1, 2015, 15:13

The operational files that were available and had full disk images have been processed. There have been other requests for data, but those will be made in to other tickets.

[2019-02-27 15:22] #42 closed

[2019-02-27 15:22] djhoese opened #43 "Restrict camera"
In GitLab by @djhoese on Oct 19, 2015, 11:32

The camera should be restricted to a reasonable zoom level and shouldn't be able to pan much further away than the map (maybe go as far as requiring that at least 1 tile is visible).

[2019-02-27 15:22] djhoese commented on #43
In GitLab by @evas-ssec on Oct 21, 2015, 10:57

Is there a way to tell vispy to wrap the edges of the map?

[2019-02-27 15:22] djhoese commented on #43
In GitLab by @djhoese on Oct 21, 2015, 11:15

Not in the way we are doing it right now. We are currently using a plain that moves up and down. The best way to do what you're talking about would be to represent mercator as an actual 3D cylinder. In the future...

[2019-02-27 15:22] djhoese commented on #43
In GitLab by @djhoese on Oct 26, 2015, 14:49

Turns out this is pretty difficult. The PanZoomCamera uses an internal rectangle object to keep track of what's changing, but it seems to change reference when zooming in and out. I'm not really sure if I'm supposed to be able to use it and this is a bug or if I should never have tried to use it this way.

[2019-02-27 15:22] djhoese commented on #43
In GitLab by @djhoese on Oct 18, 2017, 20:52

Now that we have multiple projections this is probably even more complicated. I'm marking this as a bug since it is something that *should* work already, but doesn't.

[2019-02-27 15:22] djhoese opened #44 "open file dialog should remember last directory and allow multiple open"
In GitLab by @rayg-ssec on Oct 19, 2015, 12:58

Open file dialog currently doesn't remember the last place you opened files from.

[2019-02-27 15:22] djhoese commented on #44
In GitLab by @rayg-ssec on Nov 3, 2015, 07:44

Fixed in ~0.4, added Open from Cache in 0.7

[2019-02-27 15:22] #44 closed

[2019-02-27 15:22] djhoese opened #45 "allow user to drag files onto layer list to open them"
In GitLab by @rayg-ssec on Oct 19, 2015, 12:59

User should be allowed to drag & drop files onto the map window, or the layer list.

[2019-02-27 15:22] djhoese commented on #45
In GitLab by @djhoese on Oct 18, 2017, 17:15

@rayg-ssec Is this still something you want to be possible with your timeline view and stuff?

[2019-02-27 15:22] djhoese commented on #45
In GitLab by @rayg-ssec on Oct 20, 2017, 16:25

Yes, as an alternative to File > Open interface. Not as useful once an auto-populated timeline showing available data is available, admittedly.

[2019-02-27 15:22] djhoese opened #46 "opening files pushes layers out of layer list display but not actions"
In GitLab by @rayg-ssec on Oct 19, 2015, 13:04

[2019-02-27 15:22] djhoese commented on #46
In GitLab by @djhoese on Oct 19, 2015, 13:21

Adding one layer with set "1" selected causes the layer to be added to sets "2", "3", and "4" in the UI. I then tried having set "2" selected and adding another layer. That layer was then added to "3" and "4", but not "2" and not "1".

[2019-02-27 15:22] #46 closed

[2019-02-27 15:22] djhoese opened #47 "forecast wind fields layer type"
In GitLab by @rayg-ssec on Oct 19, 2015, 13:08

Request from Tim Schmit:
GFS or equivalent forecast wind overlay layer.

[2019-02-27 15:22] djhoese commented on #47
In GitLab by @djhoese on Oct 18, 2017, 20:53

What file formats do these kind of things come in? Are there multiple models that we should plan on accepting?

[2019-02-27 15:22] djhoese opened #48 "radar imagery loading"
In GitLab by @rayg-ssec on Oct 19, 2015, 13:09

Request from TimS, radar imagery loading. Possibly as geotiff with proper color map??

[2019-02-27 15:22] djhoese commented on #48
In GitLab by @rayg-ssec on Oct 20, 2015, 21:13

http://nmq.ou.edu/applications/qvs_2d_maps_main.html
(from Jordan)

[2019-02-27 15:23] djhoese commented on #48
In GitLab by @djhoese on Nov 6, 2015, 08:29

http://arm-doe.github.io/pyart/

[2019-02-27 15:23] djhoese commented on #48
In GitLab by @djhoese on Oct 18, 2017, 17:13

assigned to @djhoese

[2019-02-27 15:23] djhoese opened #49 "Some bands show overview with different overall color"
In GitLab by @djhoese on Oct 19, 2015, 13:41

I tested Band 16 from 20150714_0000 and it shows an almost all white higher level image for an overview (it also has some saturation), but the data is mostly a light gray.

[2019-02-27 15:23] djhoese commented on #49
In GitLab by @djhoese on Oct 24, 2015, 19:19

Fixed (can't remember when, forgot about this ticket). Problem was caused by misunderstanding what data type was actually going to the GPU. By default vispy takes the 32-bit float data we were putting in and clamps it to 0 and 1 and maps that to an 8-bit unsigned integer. By changing internal format to R32F the data is properly represented as 32-bit fl

[2019-02-27 15:23] #49 closed

[2019-02-27 15:23] djhoese opened #50 "Add correct climits to guidebook and workspace datasetinfo"
In GitLab by @djhoese on Oct 19, 2015, 20:03

Jordan gave us the proper acceptable limits of the bands. The "clim" in the dataset info should have this data.

[2019-02-27 15:23] djhoese commented on #50
In GitLab by @rayg-ssec on Oct 20, 2015, 22:06

From meeting notes:

1-6 Reflectance -0.012 ~ 1.192
7-16 BTs -109°C ~ 55°C

1-6 11 bits
7 14 bits
8-9 11 bits
10-15 12 bits
16 11 bits

Document should mark up clim by consulting guidebook before signaling didAddLayer.

[2019-02-27 15:23] djhoese commented on #50
In GitLab by @djhoese on Oct 24, 2015, 18:36

This is complete in the current develop branch and will be available in the next release.

[2019-02-27 15:23] #50 closed

[2019-02-27 15:23] djhoese opened #51 "inconsistent reliability on delete/purge layer"
In GitLab by @rayg-ssec on Oct 20, 2015, 11:31

Anecdotally: Also it's really slow (seconds) on Windows while it's instant on Mac. Suspect Windows box was doing something else at the same time?

[2019-02-27 15:23] djhoese commented on #51
In GitLab by @rayg-ssec on Oct 30, 2015, 08:41

Attempted to move the purge of layers to the background queue with 0.5.0 and fixed a bug related to multiple layer remove losing track of the row numbers. Need confirmation from @tims that layer removal is working for him.

[2019-02-27 15:23] djhoese commented on #51
In GitLab by @tims on Oct 30, 2015, 09:03

Yes, now all the layers are removed, when I had multiple files selected.

It's still fairly slow, eg, about as long as to load the data.

[2019-02-27 15:23] djhoese commented on #51
In GitLab by @rayg-ssec on Nov 3, 2015, 07:43

Actual purge of data should now be in the background thread so I'm curious to know if performance has improved at all.

[2019-02-27 15:23] djhoese commented on #51
In GitLab by @djhoese on Oct 18, 2017, 12:12

This is most likely fixed with @rayg-ssec most recent changes by making the workspace a SQLite DB. @rayg-ssec consider closing this? Sounds like you had the performance resolved but were waiting for an actual confirmation that layers were being deleted when asked. I feel like even if this is still a problem a new issue should be created.

[2019-02-27 15:23] djhoese commented on #51
In GitLab by @djhoese on Oct 18, 2017, 13:33

closed

[2019-02-27 15:23] #51 closed

[2019-02-27 15:23] djhoese opened #52 "inconsistent animation control state"
In GitLab by @rayg-ssec on Oct 20, 2015, 11:33

Animation controls state should always represent what the user is seeing, even if they've taken a different route to displaying (e.g. toggling visibility).
Layer list can be locally inconsistent while animation is playing, but should settle to be representative when animation stops.
feature-animation-consistency branch

[2019-02-27 15:23] djhoese commented on #52
In GitLab by @rayg-ssec on Oct 30, 2015, 08:40

This is in 0.5.0 if not 0.4.0

[2019-02-27 15:23] #52 closed

[2019-02-27 15:23] djhoese opened #53 "document save/load"
In GitLab by @rayg-ssec on Oct 20, 2015, 11:34

feature-document-io should include save and open of documents as
Documents should reference the files that were loaded, and prompt the user to locate datasets that have changed locations. Those user-entered locations then become part of a local data search path used for document opens during that session.

[2019-02-27 15:24] djhoese commented on #53
In GitLab by @djhoese on Oct 18, 2017, 20:54

This should also allow saving of preferences and other user created or modified things (colormaps, etc).

[2019-02-27 15:24] djhoese opened #54 "arrow key visibility change local-referenced-before-assignment error"
In GitLab by @rayg-ssec on Oct 20, 2015, 11:34

[2019-02-27 15:24] djhoese commented on #54
In GitLab by @rayg-ssec on Oct 25, 2015, 22:20

fixed as part of feature-ahi-names

[2019-02-27 15:24] #54 closed

[2019-02-27 15:24] djhoese opened #55 "zoom in/out not accurately deciding when to re-tile"
In GitLab by @rayg-ssec on Oct 20, 2015, 11:36

We sometimes get part of the overview tile unnecessarily. Dilution/stride calculation needs refinement.

[2019-02-27 15:24] djhoese commented on #55
In GitLab by @djhoese on Oct 22, 2015, 00:11

This has been fixed in the current develop branch and soon to be master. The issue had to do with estimates of how many tiles were needed for each image layer. At a screen of resolution 1920 x 1200 and attempting to oversample to 2 image pixels per screen pixel and having a tile size of 512 pixels x 512 pixels you can calculate that you should need no

[2019-02-27 15:24] #55 closed

[2019-02-27 15:24] djhoese opened #56 "scatter plot should regenerate dynamically"
In GitLab by @rayg-ssec on Oct 20, 2015, 11:38

ScottL requests that scatter plot should update as different layers are cycled in. First, establish the most intuitive behavior - e.g. topmost layer is Y and second topmost is X, with Y changing as layers are cycled.

[2019-02-27 15:24] djhoese commented on #56
In GitLab by @evas-ssec on Oct 21, 2015, 11:16

I'm going to redesign the area probe section of the UI to allow selection of layers and plot type. I'll probably also add a tabbed pane so that you can create more probes (in tabs) as you need them.

Once the polygons are layers (Issue #42) I'll see about making the polygon selectable for each probe as well.

[2019-02-27 15:24] djhoese commented on #56
In GitLab by @evas-ssec on Oct 22, 2015, 23:24

I've finished implementing this in the feature-areaProbeRedesign branch.

[2019-02-27 15:24] #56 closed

[2019-02-27 15:24] djhoese opened #57 "make regions into fully manipulable layers"
In GitLab by @rayg-ssec on Oct 20, 2015, 11:40

- user creates new layer when a region is selected
- region can be applied to a probe (scatter/histogram/etc)
- region can be deleted
- region can be hidden
- region can be saved and loaded as WKT within the document
- region can be copied to the clipboard as WKT, eventually

[2019-02-27 15:24] djhoese commented on #57
In GitLab by @rayg-ssec on Nov 4, 2015, 10:24

With regions being consistently handled for probes, we'll have to reconsider this. There may still be upcoming use cases involving multiple simultaneous probes, or use of probes to steer a calculated layer.

[2019-02-27 15:24] djhoese opened #58 "layer sets not fully independent"
In GitLab by @rayg-ssec on Oct 20, 2015, 11:41

- Consistency of layer set visibility with the scenegraph (handle didChangeLayerSet signal)
- each layer set should retain its own presentation information and layer order properly

[2019-02-27 15:24] djhoese commented on #58
In GitLab by @rayg-ssec on Nov 3, 2015, 07:40

This was demonstrated as fixed in 0.7, let's reopen it if someone finds a glitch.

[2019-02-27 15:24] #58 closed

[2019-02-27 15:24] djhoese opened #59 "capture imagery to clipboard or file"
In GitLab by @rayg-ssec on Oct 20, 2015, 11:42

Define what should be captured, and whether it's an external application or an internal feature.

[2019-02-27 15:24] djhoese commented on #59
In GitLab by @djhoese on Oct 18, 2017, 20:58

@jgerth Is taking a single screenshot and placing it in the clipboard something that you might want?

[2019-02-27 15:24] djhoese commented on #59
In GitLab by @jgerth on Oct 18, 2017, 21:05

If it is easy (<1 hour effort), but this is definitely not a high priority or a promised feature. And if it requires another hot key, forget it. :smile:

[2019-02-27 15:25] djhoese commented on #59
In GitLab by @djhoese on Oct 18, 2017, 21:25

Probably a checkbox on the export dialog.

Nevermind, I just looked up writing an image to the system clipboard and it does not seem like a fun feature to support across three platforms.

[2019-02-27 15:25] djhoese commented on #59
In GitLab by @djhoese on Oct 18, 2017, 21:25

closed

[2019-02-27 15:25] #59 closed

[2019-02-27 15:25] djhoese opened #60 "change animation speed interactively"
In GitLab by @rayg-ssec on Oct 20, 2015, 11:43

- shift + drag, or right-button-drag on animation slider should change animation frame rate

[2019-02-27 15:25] djhoese commented on #60
In GitLab by @rayg-ssec on Oct 30, 2015, 08:38

This is resolved in 0.4.0 with a right-click popup on the play button.

[2019-02-27 15:25] #60 closed

[2019-02-27 15:25] djhoese opened #61 "display probe values for all layers"
In GitLab by @rayg-ssec on Oct 20, 2015, 11:45

layer list should display value at point probe for all layers.

[2019-02-27 15:25] djhoese commented on #61
In GitLab by @evas-ssec on Oct 21, 2015, 11:24

To do this we'll need a point probe display that can name the layers it's reporting on.

[2019-02-27 15:25] djhoese commented on #61
In GitLab by @rayg-ssec on Nov 3, 2015, 07:39

Equalizer display implemented in 0.6.

[2019-02-27 15:25] #61 closed

[2019-02-27 15:25] djhoese opened #62 "loading a file should signal scenegraph to stop animating"
In GitLab by @rayg-ssec on Oct 20, 2015, 11:46

Animation should also not start when one or fewer frames are available.

[2019-02-27 15:25] djhoese commented on #62
In GitLab by @evas-ssec on Oct 21, 2015, 11:25

Consider visually disabling the animation controls when there isn't enough data to animate.

[2019-02-27 15:25] djhoese commented on #62
In GitLab by @rayg-ssec on Oct 21, 2015, 17:54

feature-animation-consistency (merged) stops animations when you use left/right arrow keys, and prevents creation of 0 or 1-frame animations on load or "O" command. Does not stop animation on load yet.

[2019-02-27 15:25] djhoese commented on #62
In GitLab by @rayg-ssec on Oct 30, 2015, 08:50

mentioned in commit 6f1c7d6ae2d4bd766109df5fc42c27c8b6a1aad5

[2019-02-27 15:25] djhoese commented on #62
In GitLab by @rayg-ssec on Nov 3, 2015, 07:38

Fixed in like 0.5 or something.

[2019-02-27 15:25] #62 closed

[2019-02-27 15:25] djhoese opened #63 "color map commands should include range (clim) inversion"
In GitLab by @rayg-ssec on Oct 20, 2015, 11:47

The option to invert the color map 0..1 <=> 1..0 (normalized form) should exist, or colormaps should include inverted versions of common (e.g. black-to-white) maps

[2019-02-27 15:25] djhoese commented on #63
In GitLab by @rayg-ssec on Oct 24, 2015, 16:11

This should already be covered by feature-transparent-colormaps

[2019-02-27 15:25] #63 closed

[2019-02-27 15:26] djhoese opened #64 "make number of tiles and striding smarter"
In GitLab by @djhoese on Oct 20, 2015, 15:56

@evas-ssec brought up a good point that if possible the stride that an image layer requests should consider the number of tiles needed versus the number of tiles the GPU texture is configured for.

[2019-02-27 15:26] djhoese commented on #64
In GitLab by @djhoese on Oct 24, 2015, 18:35

As an extension to this and a temporary "fix" for Guam I'll change the preferred screen resolution ratio for Windows to 1.0 instead of 0.5 (1 screen pixel for every 2 image pixels). We did find out that there was a logic error requiring a lot more tiles than we had originally expected to be shown on the screen (a lot of overview image area).

[2019-02-27 15:26] djhoese commented on #64
In GitLab by @djhoese on Nov 1, 2015, 15:16

The ratio has now been changed for all platforms to 1.0 and the number of tiles increased to 80. We will see how this goes for now.

[2019-02-27 15:26] #64 closed

[2019-02-27 15:26] djhoese opened #65 "Order of Data in View Window"
In GitLab by @tims on Oct 20, 2015, 16:32

I think the order of the data in the view window should be numeric, right now it maybe which file loads first? [order.pptx](https://gitlab.ssec.wisc.edu/rayg/CSPOV/uploads/b62047e371d315bf3fcbee95fe86b36b/order.pptx)

[2019-02-27 15:26] djhoese commented on #65
In GitLab by @djhoese on Oct 20, 2015, 17:41

@tims if you mean in the tool (hard to see in the pictures), you should be able to move them around. @rayg-ssec would know better on how things get ordered as you load them.

[2019-02-27 15:26] djhoese commented on #65
In GitLab by @ScottLindstrom on Oct 20, 2015, 19:44

I also found this a very confusing issue.  The problem is that when you load in all bands (by selecting them all and loading them at once), they're not in order from Band 1-16 (or Band 16-1) in the listing.  The list is haphazard.  And an ordered list would make more sense.

[2019-02-27 15:26] djhoese commented on #65
In GitLab by @rayg-ssec on Oct 20, 2015, 21:19

On multiple load I should be able to get the document to prioritize load order outer-band inner-time. By default single files get added to the "top" of the layer stack in order to be visible.

That being said, establishing user expectations of visibility on multiple load would be good, right now you get a lot of visible layers that you may or may not

[2019-02-27 15:26] djhoese commented on #65
In GitLab by @evas-ssec on Oct 21, 2015, 11:29

When you're loading a group of files at the same time, possibly do a simple alphabetization sort on their file names. This should order bands for the same date/time in a more reasonable manner.

In the future we might also want to consider having "sortable" aspects in the layer view (stuff like sort on file name, sort on date, etc.).

[2019-02-27 15:26] djhoese commented on #65
In GitLab by @rayg-ssec on Oct 24, 2015, 16:01

Implementation of this should be done by having the guidebook have a "put these filenames into load order" command for now, which document can use when opening multiple files.

[2019-02-27 15:26] djhoese commented on #65
In GitLab by @rayg-ssec on Oct 27, 2015, 13:42

From discussion in #4,
- layers load in numerical order (time minor, band major)
- when a new file is opened, look for a time order (preferred) or band order to be applied as the new animation
- Shift-left/right-arrow sets time based animation order from current selected layer
- shift-up/down-arrow sets based based animation order from current select

[2019-02-27 15:26] djhoese commented on #65
In GitLab by @djhoese on Oct 18, 2017, 20:57

I think this is fixed when loading multiple files all at once, but will also change when the timeline view is finished.

[2019-02-27 15:26] djhoese commented on #65
In GitLab by @djhoese on Oct 18, 2017, 20:57

closed

[2019-02-27 15:26] #65 closed

[2019-02-27 15:26] djhoese opened #66 "Can an x=y line be plotted in scatterplots?"
In GitLab by @ScottLindstrom on Oct 20, 2015, 16:42

As I said today -- the danger of having me right next door to you -- can the scatterplots include a line -- a straight line -- denoting x=y?  When you're comparing two bands, it's useful to be able to see where the difference is positive vs. negative, and an x=y line would really help with that.

[2019-02-27 15:26] djhoese commented on #66
In GitLab by @evas-ssec on Oct 22, 2015, 23:24

I've finished implementing this in the feature-areaProbeRedesign branch.

[2019-02-27 15:26] #66 closed

[2019-02-27 15:26] djhoese opened #67 "KeyError in feature-new-colormaps"
In GitLab by @cphillips on Oct 21, 2015, 09:01

On Mac OSX Yosemite

Clicking on colorlist menu causes KeyError: <INFO.UUID: 'uuid'>

e keystroke works fine without error.

[code]

[2019-02-27 15:26] #67 closed

[2019-02-27 15:26] djhoese opened #68 "evaluate feasibilty of shipping overview geotiffs for load speed"
In GitLab by @rayg-ssec on Oct 21, 2015, 10:52

Right now the loading of large numbers of large files really should be happening in the background. Can overview geotiffs be manufactured for fast loading, with the full-resolution load being backgrounded?

[2019-02-27 15:27] djhoese commented on #68
In GitLab by @rayg-ssec on Oct 21, 2015, 17:09

This is strongly preferred for 1.0 milestone because loading the full resolution data is beachballing, and we're not in a stadium or at the beach.

[2019-02-27 15:27] djhoese commented on #68
In GitLab by @djhoese on Oct 21, 2015, 17:54

Agreed. I'll need to reprocess geotiffs anyway because the current ones don't have NaNs properly set (something I need to make sure gdal can handle). Of course doing this still requires background loading for the full dataset. It's also important that the dataset info that is passed to the SGM when a new layer is added has both the full resolution proj

[2019-02-27 15:27] djhoese commented on #68
In GitLab by @djhoese on Nov 6, 2015, 08:29

Since this got pushed to 1.1 and is not shipping to Guam I think the best future solution would be to put 100% development focus on backgrounding loading and getting loading from the NetCDF files working (or other earlier xrit format if needed). The files would then be smaller and easier to memory map so overviews in the input data should be less import

[2019-02-27 15:27] djhoese commented on #68
In GitLab by @djhoese on Oct 18, 2017, 17:13

No longer needed with AHI CMI loading and in the near future directly loading from HSD/HCAST.

[2019-02-27 15:27] djhoese commented on #68
In GitLab by @djhoese on Oct 18, 2017, 17:13

closed

[2019-02-27 15:27] #68 closed

[2019-02-27 15:27] djhoese opened #69 "Polygon selection should show outline of the polygon you're creating"
In GitLab by @evas-ssec on Oct 21, 2015, 11:37

When you're selecting points to make a polygon, the markers should be connected by some sort of lines to show the outer area of the region you're selecting. Also, the last point you created (which your next point will be connected to) should be visually distinct from the other point markers (perhaps a different color or larger or a different shape).

[2019-02-27 15:27] djhoese commented on #69
In GitLab by @djhoese on Nov 6, 2015, 08:25

My hope is that in the future the polygon/region selection can be done in one motion with the mouse like a lasso tool as @rayg-ssec originally wanted. Although now that I think about it this may make it difficult for laptop/trackpad users. Definitely something to think about in future versions and will need user feedback. But still the polygon region sh

[2019-02-27 15:27] djhoese commented on #69
In GitLab by @djhoese on Oct 18, 2017, 21:06

@jgerth @rayg-ssec Would we maybe want two "tools" for this? One for a lasso (all at once) selection and a pen (one vertex at a time) selection. I think Photoshop calls these Lasso and Polygonal Lasso.

[2019-02-27 15:27] djhoese opened #70 "Deleting multiple layers deletes layers that are not selected"
In GitLab by @evas-ssec on Oct 21, 2015, 11:41

When I delete multiple selected layers in a layer set it removes the first one correctly and instead of removing the later ones it removes whichever layer falls at that index once the first layer is removed.

So if I have:

band 12
band 13
band 14
band 15
band 16

and I select bands 13 and 14 and hit delete I end up with

band 12
band 14
band 16

[2019-02-27 15:27] djhoese commented on #70
In GitLab by @rayg-ssec on Oct 24, 2015, 15:49

This should be done as part of a consistency pass on the layer list drag&drop and delete behavior. I suspect it's a ID versus row number tracking failure. Possibly convert everything from rows to UUIDs as soon as possible to avoid confusion, and move the row-ness of the layer stack hidden within the listview's model object in layer_list.py.

[2019-02-27 15:27] djhoese commented on #70
In GitLab by @rayg-ssec on Oct 30, 2015, 08:42

Remove command was incorrectly getting the UUIDs to be deleted, resulting in exception. Fixed in 0.4

[2019-02-27 15:27] #70 closed

[2019-02-27 15:27] djhoese opened #71 "workspace should subset data within regions for probes"
In GitLab by @rayg-ssec on Oct 21, 2015, 12:04

feature-shape-model (stale branch from 10/4) has a preliminary implementation of extracting data block + mask in the workspace, given a region. This is needed by @evas-ssec for region probing and may be useful for point probing.

[2019-02-27 15:27] djhoese commented on #71
In GitLab by @evas-ssec on Oct 22, 2015, 23:33

The redesign I did of the area probes currently hangs on to the polygon points when they change (the currently selected graph tab will get the polygon info when you draw a polygon, but old unselected tabs will remember their old polygons). The changes needed to handle polygons as layers shouldn't be very difficult.

[2019-02-27 15:27] djhoese commented on #71
In GitLab by @rayg-ssec on Oct 28, 2015, 16:52

feature-region-masks includes a rasterio-based implementation of mask generation which is rumored much faster than shapely.

[2019-02-27 15:27] djhoese commented on #71
In GitLab by @djhoese on Oct 29, 2015, 18:54

Probe plotting has gone on a big diet. It should be faster and smarter about how/when it loads data and rebuilds plots. Should be available in 0.5.1.

[2019-02-27 15:27] #71 closed

[2019-02-27 15:27] djhoese opened #72 "workspace should cache metadata, overview, data content"
In GitLab by @rayg-ssec on Oct 21, 2015, 20:16

feature-workspace-caching should store flat files with recently loaded geotiff data in ready-to-use forms.
cleaning unused data in the workspace should be done on program exit.
cache should be tolerate of external deletions.

[2019-02-27 15:27] #72 closed

[2019-02-27 15:27] djhoese opened #73 "__main__ refactoring and promotion pass"
In GitLab by @rayg-ssec on Oct 22, 2015, 11:19

__main__ is our designated bucket of travesties and interim solutions. Look at functionality that needs to be collected into modules and migrated out of MainWindow (but brought back in compositionally), for instance use cases translated as behavior or manager objects that properly connect signals in their __init__.

[2019-02-27 15:28] djhoese opened #74 "Color Enhancements"
In GitLab by @ScottLindstrom on Oct 22, 2015, 16:15

When I right-click on the band displayed, and choose an enhancement, they all seem mostly grey.  Exceptions:  Rain Rate & blended Total Precipitable water, both of which have gradations of cyan,

[2019-02-27 15:28] djhoese commented on #74
In GitLab by @ScottLindstrom on Oct 22, 2015, 16:15

David has seen this too.

[2019-02-27 15:28] djhoese commented on #74
In GitLab by @djhoese on Oct 22, 2015, 17:51

@ScottLindstrom I am happy to say I have figured this out. I will get you guys a new version tomorrow morning. Basically I was only scaling the values going in to red and not the values going in to "green" or "blue" if that makes sense. So we ended up with...nothing good.

[2019-02-27 15:28] djhoese commented on #74
In GitLab by @ScottLindstrom on Oct 23, 2015, 09:13

See attached file for an example of CIRA IR enhancement.![screenCapture](https://gitlab.ssec.wisc.edu/rayg/CSPOV/uploads/c9288229f1db0531a5eb1553302d6c4c/screenCapture.png)  The colorbar in the upper left goes from 55 (black) to -109

[2019-02-27 15:28] djhoese commented on #74
In GitLab by @djhoese on Oct 23, 2015, 23:12

Thanks @ScottLindstrom, turns out the reason the CIRA IR enhancement wasn't working well in SIFT was because that colormap is hard to automatically extract I manually created it and the square root colormap for VIS and will be providing it in the next release.

[2019-02-27 15:28] #74 closed

[2019-02-27 15:28] djhoese opened #75 "List of layers in the Layer Window"
In GitLab by @ScottLindstrom on Oct 22, 2015, 16:17

So I loaded up all the bands from 1 time (16 images).  The up/down arrows correctly cycle through the bands, but the band that is displayed is off the screen -- can that list of bands move so that the one that is displayed is also visible in the list of bands in that little window that sometimes only shows 5 or 10 bands?

[2019-02-27 15:28] djhoese commented on #75
In GitLab by @ScottLindstrom on Oct 22, 2015, 16:17

Not a showstopper, of course.

[2019-02-27 15:28] djhoese commented on #75
In GitLab by @rayg-ssec on Oct 22, 2015, 19:57

This might be one or two lines of code, I'll check.

[2019-02-27 15:28] djhoese commented on #75
In GitLab by @rayg-ssec on Oct 22, 2015, 20:59

mentioned in commit ad0acab3aa88ef13fcef7b37ab8dfff0b4d6e656

[2019-02-27 15:28] #75 closed

[2019-02-27 15:28] djhoese opened #76 "Separate data sets by lab"
In GitLab by @kathys on Oct 22, 2015, 17:36

The best way to parse out the data sets would be to have them separated by labs.  Mine would be named Introduction, and would have a folder with the 17 July-18 July hourly files in them, with separate individual band files, and there would be another folder that contained the two high temporal resolution files in them with individual band folders. Not s

[2019-02-27 15:28] djhoese commented on #76
In GitLab by @djhoese on Oct 22, 2015, 19:26

@kathys if you're part only called "Introduction"? Do you have another teaching section? Does everyone's section have a specific name?

I think I can semi-automate this if we can get everyone to agree on what would be best (@ScottLindstrom, @tims, @jgerth). I could do something like this:

    C:\data\ahi\
        YYYY_MM_DD_JJJ\HHMM\
        BXX\

[2019-02-27 15:28] djhoese commented on #76
In GitLab by @djhoese on Oct 29, 2015, 18:44

Tim asked for additional separation of his 1 case:

[2019-02-27 15:28] djhoese commented on #76
In GitLab by @djhoese on Nov 1, 2015, 09:53

This done and the data cases are available from the normal /odyssey location.

[2019-02-27 15:28] #76 closed

[2019-02-27 15:28] djhoese opened #77 "IR Band display enhancement default is reversed"
In GitLab by @kathys on Oct 22, 2015, 17:47

The base IR Band enhancement should be reversed.  Cold is bright, and warm is dark.  I am sure Jordan or Tim can provide you with a good basic one.

[2019-02-27 15:28] djhoese commented on #77
In GitLab by @djhoese on Oct 22, 2015, 17:52

@kathys The "/" key to flip the colormap was our workaround for this for now, but I think I have an easy way to fix this. I'll get you guys a new version for this tomorrow morning. See Scott's issue #59 about a similar issue.

[2019-02-27 15:28] djhoese commented on #77
In GitLab by @djhoese on Oct 24, 2015, 18:16

This will be fixed in the next release. The IR default colormap is now a "Rainbow" colormap as per Jordan's request. The previous CIRA IR that was the default has been internally flipped so no flipping should be needed to get the expected visual.

[2019-02-27 15:29] #77 closed

[2019-02-27 15:29] djhoese opened #78 "Add Band number to probe readout"
In GitLab by @kathys on Oct 22, 2015, 18:03

When I have a full suite of bands loaded into SIFT, it is hard to tell what band I have loaded in.  If possible, could you add the band number next to the Point Probe value.

[2019-02-27 15:29] djhoese commented on #78
In GitLab by @rayg-ssec on Oct 24, 2015, 15:42

I think this should be resolved once feature-probe-all goes in, where each layer will show its probe value. At that point I think the current probe value text should read the value of a single layer, if you select that layer in the layer list.

[2019-02-27 15:29] djhoese commented on #78
In GitLab by @djhoese on Oct 24, 2015, 20:03

Just to keep things connected, the issue about the probe all stuff is #46

[2019-02-27 15:29] djhoese commented on #78
In GitLab by @rayg-ssec on Nov 3, 2015, 07:37

Though we have the equalizer display, it may still be useful to include the band number of the top visible layer when the probe text at the top of the screen. Leaving this open for discussion and booting it to 1.1.

[2019-02-27 15:29] djhoese commented on #78
In GitLab by @djhoese on Oct 18, 2017, 17:12

assigned to @djhoese and unassigned @rayg-ssec

[2019-02-27 15:29] djhoese commented on #78
In GitLab by @jgerth on Oct 18, 2017, 18:44

Still a good idea, I believe.

[2019-02-27 15:29] djhoese commented on #78
In GitLab by @djhoese on Oct 18, 2017, 19:50

@jgerth Probably something more elegant than:

![image](/uploads/be1864c804aba1a6d2a6d81e8af340b6/image.png)

[2019-02-27 15:29] djhoese commented on #78
In GitLab by @jgerth on Oct 18, 2017, 19:56

Unless you can get the central wavelength there easily, good enough. :+1:

[2019-02-27 15:29] djhoese commented on #78
In GitLab by @djhoese on Oct 30, 2017, 12:50

mentioned in commit e4857831f9c56f189d9b94350da95c46d5c09eda

[2019-02-27 15:29] djhoese commented on #78
In GitLab by @djhoese on Oct 30, 2017, 12:51

closed

[2019-02-27 15:29] #78 closed

[2019-02-27 15:29] djhoese opened #79 "Dynamically update probe value as image changes to new band or new time"
In GitLab by @kathys on Oct 22, 2015, 18:06

Would be great if the probe value at the location of the big red X could update as the image in the window updates, either with a new band or a new time.

[2019-02-27 15:29] djhoese commented on #79
In GitLab by @rayg-ssec on Nov 3, 2015, 07:36

This should be handled by the "equalizer" display in the layer list now.

[2019-02-27 15:29] #79 closed

[2019-02-27 15:29] djhoese opened #80 "startup option to set center point and/or display extent"
In GitLab by @rayg-ssec on Oct 22, 2015, 19:56

The extremely wide view the application currently defaults to is the most expensive view to render initially, since it has to stride a rather large proportion of the memory map.

Allow an initial startup configuration that's pointed at Guam, with enough areal coverage to see it in context. That should limit the spatial area that needs to be loaded an

[2019-02-27 15:29] djhoese commented on #80
In GitLab by @djhoese on Oct 26, 2015, 10:04

Status changed to closed by commit f1c32e09e70d3062d7c2f36baaff7956620dda5a

[2019-02-27 15:29] #80 closed

[2019-02-27 15:29] djhoese opened #81 "default enhancements"
In GitLab by @tims on Oct 23, 2015, 09:30

Have one default enhancement for bands 1-6. This would be square-root, where clouds are bright.

and

Have one default enhancement for bands 7-16. Where warm color are hot temps, etc.

Thanks!

[2019-02-27 15:29] djhoese commented on #81
In GitLab by @jgerth on Oct 23, 2015, 17:48

@djhoese This should be the default color enhancement for the infrared bands: ftp://ftp.ssec.wisc.edu/pub/ssec/jordang/color-11-new.cmap

[2019-02-27 15:30] djhoese commented on #81
In GitLab by @djhoese on Oct 24, 2015, 18:12

This should be complete in the newest develop branch and will be available in the next release. Square root for vis bands and the rainbow colormap Jordan provided above.

[2019-02-27 15:30] #81 closed

[2019-02-27 15:30] djhoese opened #82 "if I query the document.current_layer_order in a method that is connected to the didReorderLayers signal I get a list with the layer that moved in it twice (once where it was and once where it moved to)"
In GitLab by @evas-ssec on Oct 23, 2015, 13:04

You can see this in the graph area dropdowns when you trigger layer reordering events in the UI.

[2019-02-27 15:30] djhoese commented on #82
In GitLab by @djhoese on Oct 29, 2015, 18:39

@rayg-ssec and @evas-ssec, this has been fixed recently right?

[2019-02-27 15:30] djhoese commented on #82
In GitLab by @rayg-ssec on Nov 3, 2015, 07:34

This was fixed in the reworking of the drag & drop implementation.

[2019-02-27 15:30] #82 closed

[2019-02-27 15:30] djhoese opened #83 "Updated country boundaries"
In GitLab by @wstraka3 on Oct 23, 2015, 15:55

copy/pasta from my email:
Is there a way to update the country boundaries in SIFT? There are several island nations in the Pac that are missing in the one that is used currently. I have taken to using the DIVA-GIS (http://www.diva-gis.org/) maps (which are current as of 2011), which are available in GIS shape files

http://biogeo.ucdavis.edu/data/worl

[2019-02-27 15:30] djhoese commented on #83
In GitLab by @djhoese on Oct 26, 2015, 14:52

I think we can keep using the ones we are using just switch to the higher resolution ones when it makes sense. We get ours from Natural Earth: http://naturalearthdata.com/. They have 3 different resolutions for everything from countries, to conflicted regions, to railroad tracks.

[2019-02-27 15:30] djhoese commented on #83
In GitLab by @djhoese on Oct 18, 2017, 17:12

closed

[2019-02-27 15:30] #83 closed

[2019-02-27 15:30] djhoese opened #84 "HH:MM shown for single time"
In GitLab by @jgerth on Oct 23, 2015, 17:37

The date and time is shown as "HH:MM" when a single time is loaded. The correct behavior should be that the actual date and time are shown.

[2019-02-27 15:30] djhoese commented on #84
In GitLab by @rayg-ssec on Oct 29, 2015, 09:22

This should be fixed in 0.5.0.

[2019-02-27 15:30] #84 closed

[2019-02-27 15:30] djhoese opened #85 "resolve shown-layer versus selected-layer for probing"
In GitLab by @rayg-ssec on Oct 24, 2015, 15:46

Jordan notes:
2. Also, the plot should default to use the band that is on the display when the user creates the polygon. That did not seem to be the case with this new version, at least when we had multiple bands for a single time.

Right now we have explicit user selection of one or more layers, but we also have "top visible" layer via the visibilit

[2019-02-27 15:30] djhoese commented on #85
In GitLab by @djhoese on Oct 29, 2015, 18:38

As of v5.0.1 the polygon probe layer selection is based on currently visible layers when the polygon is created or changed. If 1 layer is visible it will become the new "X" layer. If 2 layers are visible then the first/top will become "X" and the second will be "Y" regardless of whether the "vs Y" checkbox is checked. Of course the checkbox is not chan

[2019-02-27 15:30] djhoese commented on #85
In GitLab by @rayg-ssec on Nov 4, 2015, 10:20

Current behavior seems to be satisfying everyone.

[2019-02-27 15:30] #85 closed

[2019-02-27 15:30] djhoese opened #86 "use proper layer names instead of filenames"
In GitLab by @rayg-ssec on Oct 24, 2015, 15:55

By default the application should consult the guidebook for band names.
Suggest "AHI B## HH-MM YYYY-MM-DD" as a starter.

Do this in feature-science-names

[2019-02-27 15:31] djhoese commented on #86
In GitLab by @rayg-ssec on Oct 25, 2015, 22:18

merged with feature-ahi-names

[2019-02-27 15:31] #86 closed

[2019-02-27 15:31] djhoese opened #87 "color map assignment by band, per layer set"
In GitLab by @rayg-ssec on Oct 24, 2015, 15:58

TimS suggests that changing the color map settings should affect all of a given band for a given layer set.

Decide whether this is best handled by allowing easy selection of all siblings (either band-wise or time-wise) prior to changing colormap, since that would be less surprising than silently adopting the presentation change across multiple layer

[2019-02-27 15:31] djhoese commented on #87
In GitLab by @djhoese on Oct 24, 2015, 17:54

This is already complete in feature-transparent-colormaps and has been merged to develop.

[2019-02-27 15:31] #87 closed

[2019-02-27 15:31] djhoese opened #88 "make priority queue with its own thread for re-tiling and other interactive actions."
In GitLab by @rayg-ssec on Oct 25, 2015, 12:29

Re-tiling events should be queued with a flag interactive=True so that they can be placed on a separate rendering thread while other non-interactive activities chug away on the existing background thread.

Since i7 laptops may have 4 cores, we may want to add another thread on standby in case we need it.

[2019-02-27 15:31] #88 closed

[2019-02-27 15:31] djhoese opened #89 "next and previous frame buttons should behave identical to left and right arrow keys"
In GitLab by @rayg-ssec on Oct 26, 2015, 10:31

[2019-02-27 15:31] #89 closed

[2019-02-27 15:31] djhoese opened #90 "Layer drag & drop is just plain buggy"
In GitLab by @rayg-ssec on Oct 26, 2015, 11:20

Insert/remove cycle for drag & drop has unintended consequences and Ray needs to scrub the heck out of that layer_list code.

[2019-02-27 15:31] djhoese commented on #90
In GitLab by @rayg-ssec on Oct 26, 2015, 17:30

Working on this in feature-dragon-droppings. Layer reorder using drag & drop is the first improvement.

[2019-02-27 15:31] djhoese commented on #90
In GitLab by @rayg-ssec on Oct 27, 2015, 13:39

As of this morning I think I have the majority of this solved, but more testing is good. Vastly simplified the bookkeeping on layer motion.

[2019-02-27 15:31] djhoese commented on #90
In GitLab by @rayg-ssec on Oct 28, 2015, 16:49

This should be fixed in 0.5.0.

[2019-02-27 15:31] #90 closed

[2019-02-27 15:31] djhoese opened #91 "Display band number and central wavelength along with valid date and time"
In GitLab by @jgerth on Oct 26, 2015, 13:53

This is a possible subsequent enhancement. Tim would like the band number and central wavelength shown next to the valid date and time above the loop control. This is a good idea, but is not high priority.

[2019-02-27 15:31] djhoese commented on #91
In GitLab by @evas-ssec on Nov 3, 2015, 12:11

Is there somewhere I can get information about the central wavelengths for the various bands?

[2019-02-27 15:31] djhoese commented on #91
In GitLab by @jgerth on Nov 3, 2015, 12:24

http://www.data.jma.go.jp/mscweb/en/himawari89/space_segment/spsg_ahi.html

[2019-02-27 15:31] djhoese commented on #91
In GitLab by @djhoese on Mar 16, 2016, 15:45

A modification to this feature has been requested so I'm commandeering this issue. Tim would like the wavelength added to the bottom right panel where the layer details are shown. I hope to tackle this in the next week.

[2019-02-27 15:31] djhoese commented on #91
In GitLab by @djhoese on Mar 23, 2016, 08:45

mentioned in commit 9d45a0ae855afd6f696ffc8d5ba75e9c92411677

[2019-02-27 15:31] djhoese commented on #91
In GitLab by @djhoese on May 18, 2016, 14:15

Status changed to closed by commit 9d45a0ae855afd6f696ffc8d5ba75e9c92411677

[2019-02-27 15:31] #91 closed

[2019-02-27 15:32] djhoese opened #92 "Allow area probe plots across different resolutions"
In GitLab by @djhoese on Oct 26, 2015, 14:47

Currently there is no way to do a scatter plot using bands with different resolutions. The best way to do this is probably some nearest neighbor calculation (cKDTree from scipy).

[2019-02-27 15:32] djhoese commented on #92
In GitLab by @jgerth on Oct 26, 2015, 15:31

Tim also reported this as an issue. Would it be possible to produce a set of B03 files at 2 km resolution? Otherwise, we cannot compare it to other bands, and unfortunately, the visible band is a fairly popular band to use in comparisons.

[2019-02-27 15:32] djhoese commented on #92
In GitLab by @rayg-ssec on Oct 26, 2015, 17:31

Dave is looking at consolidating this with region extraction & masking prior to making histograms/scatter plots.

[2019-02-27 15:32] djhoese commented on #92
In GitLab by @tims on Oct 27, 2015, 08:16

As you know, there are also several 1km bands (1, 2 and 4), so I don't think this is just a band 3 issue (but agree that's the most important). Thanks.

[2019-02-27 15:32] djhoese commented on #92
In GitLab by @djhoese on Oct 29, 2015, 18:25

This should work properly in 0.5.1 and with all the other changes I made it should seem faster while switching between tabs and/or plotting for different layers. I chose to upsample any lower res data to the higher resolution layer's pixels. It's like nearest neighbor but I'm literally mapping a pixel's mercator X/Y coordinate in one resolution to the

[2019-02-27 15:32] #92 closed

[2019-02-27 15:32] djhoese opened #93 "Delete not removing all layers"
In GitLab by @tims on Oct 27, 2015, 08:21

When I load 16 bands for a given time (263, 02:30 UTC), then highlight them all and hit the delete key, not all bands are deleted. As a side note, it looks like I have duplicate copies of each band.

[2019-02-27 15:32] #93 closed

[2019-02-27 15:32] djhoese opened #94 "(Nearly) invisible Graph"
In GitLab by @tims on Oct 27, 2015, 08:26

When I use the default set-up size, I can't see the generated graph. It might be 1 pixel tall? See attached screen shot. ![Capture_no_graph_visible](https://gitlab.ssec.wisc.edu/rayg/CSPOV/uploads/39688aa5471a4594f7a1cd6bf5b6ab9d/Capture_no_graph_visible.PNG) Apparently this isn't the case for Scott. Thanks.

[2019-02-27 15:32] djhoese commented on #94
In GitLab by @evas-ssec on Oct 27, 2015, 12:27

This should be fixed with the changes I made to that sidebar while working on the layers controls.

[2019-02-27 15:32] djhoese commented on #94
In GitLab by @djhoese on Oct 29, 2015, 18:22

@tims Does this look fixed in the newest 0.5.1 (see title bar)?

[2019-02-27 15:32] djhoese commented on #94
In GitLab by @rayg-ssec on Nov 3, 2015, 07:45

Any comment on this? I know Dave & Eva put some work into reducing the size of the tool bar. We may want to up the size of the overall UI.

[2019-02-27 15:32] djhoese commented on #94
In GitLab by @djhoese on Nov 3, 2015, 12:11

This is still a problem on the laptops. We could probably get away with just doubling the size of the initial window.

[2019-02-27 15:32] djhoese commented on #94
In GitLab by @evas-ssec on Nov 3, 2015, 13:06

I think I've correctly set the minimum size for the figure canvas now, which should keep it from getting totally squashed away. You may still need to resize the pane depending on how much graph you want to see.

[2019-02-27 15:32] djhoese commented on #94
In GitLab by @rayg-ssec on Nov 4, 2015, 10:19

v0.7.1 on windows now sizes itself to the majority of the screen, which should help with this.

[2019-02-27 15:32] #94 closed

[2019-02-27 15:32] djhoese opened #95 "Time label"
In GitLab by @tims on Oct 27, 2015, 08:44

I was confused by the time label. I thought the time label might be the image that is being shown, but that's not the case. It seems to be the first time in the loop, independent of what is shown. See image. ![Capture_time_label](https://gitlab.ssec.wisc.edu/rayg/CSPOV/uploads/8ed7f7b62fa23fd4bcaec633dd8b5d24/Capture_time_label.PNG) The image is 06 UTC, b

[2019-02-27 15:32] djhoese commented on #95
In GitLab by @rayg-ssec on Oct 28, 2015, 09:58

I've got a patch in the upcoming 10/28 version which sets the time label from the topmost visible layer, unless animation is happening.

[2019-02-27 15:32] djhoese commented on #95
In GitLab by @rayg-ssec on Oct 29, 2015, 09:25

Should be fixed in v0.5.0 but awaiting confirmation from @tims that the new behavior is correct+expected.

[2019-02-27 15:32] djhoese commented on #95
In GitLab by @rayg-ssec on Oct 29, 2015, 18:00

I was able to reproduce this by shifting layers and visibility around - I think it's a matter of making sure didReorderLayers and didChangeLayerVisibility signals result in the animationLabel update_frame_time_to_top_visible. Slated for 0.5.2

[2019-02-27 15:33] djhoese commented on #95
In GitLab by @rayg-ssec on Oct 29, 2015, 18:16

mentioned in commit c8625438c38983cc6816eff7b9bb88ea033de5e1

[2019-02-27 15:33] djhoese commented on #95
In GitLab by @rayg-ssec on Nov 3, 2015, 07:32

Let's confirm this is fixed in 0.7.

[2019-02-27 15:33] djhoese commented on #95
In GitLab by @djhoese on Nov 6, 2015, 08:23

I think this was all fixed. @rayg-ssec can reopen if still a problem, but from what I remember this is fixed.

[2019-02-27 15:33] #95 closed

[2019-02-27 15:33] djhoese opened #96 "WV Gray scale enhancement issue"
In GitLab by @wstraka3 on Oct 27, 2015, 10:12

According to Tim (who I am talking to on the phone right now with), Kathy wants to use the gray scale WV enhancement for one of her labs. But the scaling on that enhancement is not correct.

[2019-02-27 15:33] djhoese commented on #96
In GitLab by @djhoese on Nov 2, 2015, 08:36

@wstraka3 Any chance you could get me a screenshot from AWIPS of the colorbar for what this is supposed to look like? It might make it easier to recreate.

[2019-02-27 15:33] djhoese commented on #96
In GitLab by @wstraka3 on Nov 2, 2015, 08:58

![A2_WV](/uploads/36461fd753e4c96321213c6581f4879a/A2_WV.png)

[2019-02-27 15:33] djhoese commented on #96
In GitLab by @djhoese on Oct 18, 2017, 12:09

![image](/uploads/e716ee85cfffd9699bc481db324e3d6f/image.png)

I can get the colormap to look like this but the resulting image (AHI C09) is really dark, almost completely black, unless I change the color limits.

[2019-02-27 15:33] djhoese commented on #96
In GitLab by @djhoese on Oct 18, 2017, 13:32

Compared the Gray Scale WV colormap to the current AHI results in AWIPS and SIFT looks the same. The image above is very white compared to what current data shows. I either fixed this at some point or AWIPS changed...we're good now.

[2019-02-27 15:33] djhoese commented on #96
In GitLab by @djhoese on Oct 18, 2017, 13:32

closed

[2019-02-27 15:33] #96 closed

[2019-02-27 15:33] djhoese opened #97 "Flip Rainbow enhancement"
In GitLab by @wstraka3 on Oct 27, 2015, 10:14

For Band 14 you have to manually flip (hit /-key) the color bar to get it to look correct (i.e. the clear ocean is orange, not purple). Can we have a "flipped" rainbow as the default so things look correct?

[2019-02-27 15:33] djhoese commented on #97
In GitLab by @djhoese on Oct 29, 2015, 18:21

Should have been done in 0.5.0 (maybe 0.5.1)

[2019-02-27 15:33] #97 closed

[2019-02-27 15:33] djhoese opened #98 "There should be a place to display warnings at the bottom of the window"
In GitLab by @evas-ssec on Oct 27, 2015, 11:58

Right now some warnings are displaying in the probe text and there are other warnings that are only shown in the console. Instead we should put a text label below the queue and animation controls so that we can display any warnings there.

[2019-02-27 15:33] djhoese commented on #98
In GitLab by @rayg-ssec on Nov 4, 2015, 10:21

Did the status bar get fully deployed as a message landing point? Or should we bump this to 1.1?

[2019-02-27 15:33] djhoese commented on #98
In GitLab by @djhoese on Nov 4, 2015, 10:30

I moved the messages from __main__ to use the status location and displaying the error messages for 2 seconds. If there were other error messages that were getting written to cursorProbeText in other modules then I did not find them. Otherwise this is closable @rayg-ssec.

[2019-02-27 15:33] #98 closed

[2019-02-27 15:33] djhoese opened #99 "prioritize re-tiling on top-down visible layers"
In GitLab by @rayg-ssec on Oct 28, 2015, 10:25

Currently re-tiling is happening in random order. Schedule it in visible-top-down order followed by non-visible layers.

[2019-02-27 15:33] djhoese commented on #99
In GitLab by @djhoese on Oct 29, 2015, 18:16

This has been done in branch `feature-retile-priority` and should be made available in version 0.5.2. Retiling is done for all visible layers (in top to bottom order) and then randomly for all non-visible layers (uses 'set' structure internally).

[2019-02-27 15:33] #99 closed

[2019-02-27 15:34] djhoese opened #100 "KeyError's when clicking on map display"
In GitLab by @wstraka3 on Oct 29, 2015, 09:29

when I click on the map display (to move around in the image), I keep getting KeyError's. Attached is a screen shot of cmd window, which has several of the KeyError's on it.

![Capture](/uploads/398cebe751547160a0fdb052ea5e5fa1/Capture.PNG)

[2019-02-27 15:34] djhoese commented on #100
In GitLab by @djhoese on Oct 29, 2015, 09:36

@wstraka3 Does this happen every time you use the application (close it/reopen it)? What's the simplest way we can reproduce these errors?

[2019-02-27 15:34] djhoese commented on #100
In GitLab by @wstraka3 on Oct 29, 2015, 09:46

It seems to happen occasionally, mainly when it is retileing. But it isn't every single time. It seems to be more random than anything.

[2019-02-27 15:34] djhoese commented on #100
In GitLab by @wstraka3 on Oct 29, 2015, 10:27

Ok, managed to reproduce it. Here is what I did:

1). Had band 14 loaded completely

2). Loaded another 2km band (example: Band 10)

3). While it was retiling, deleted the first layer.

That produced the following KeyError

![image](/uploads/c9213e81744ee35307bed85be73f0785/image.png)

[2019-02-27 15:34] djhoese commented on #100
In GitLab by @wstraka3 on Oct 29, 2015, 10:29

Basically, it looks like if it is re-tiling and you add/delete a layer, or left click in the map window, that is where the KeyError occurs

![image](/uploads/6ad22ae441de1fe34b6c2123d94c911c/image.png)

[2019-02-27 15:34] djhoese commented on #100
In GitLab by @djhoese on Oct 29, 2015, 18:21

So it is completely understandable to me that deleting a layer during retile would cause an error (you just deleted something it was trying to retile). It's still not fully understandable to me why a left click on the map would cause the error...

Either way, I've added a "fix" for 0.5.1 so that if it encounters an error during retiling it will log the

[2019-02-27 15:34] djhoese commented on #100
In GitLab by @djhoese on Nov 2, 2015, 12:05

@wstraka3 is apparently the best software breaker alive. The KeyError is now happening during the `_set_retiled` method which is happening in the main thread I think.

[2019-02-27 15:34] djhoese commented on #100
In GitLab by @djhoese on Oct 18, 2017, 17:16

closed

[2019-02-27 15:34] #100 closed

[2019-02-27 15:34] djhoese opened #101 "Layer Details window does not match Layers Window"
In GitLab by @ScottLindstrom on Oct 29, 2015, 10:32

I updated sift this morning, and loaded 6 bands -- Bands 5-10.   If I highlight the band in the Layers window, the correct information shows up in the Layer Details window.

But if I use the up or down arrow to cycle through the Layers, the Layer Details information lags the display by one.  For example, if I switch via the down arrow from Band

[2019-02-27 15:34] djhoese commented on #101
In GitLab by @djhoese on Nov 1, 2015, 15:10

This has been fixed and should be available in version 0.6.

[2019-02-27 15:34] #101 closed

[2019-02-27 15:34] djhoese opened #102 "add Open Recent > File Menu showing cache contents"
In GitLab by @rayg-ssec on Oct 29, 2015, 17:40

[2019-02-27 15:34] djhoese commented on #102
In GitLab by @rayg-ssec on Oct 30, 2015, 08:36

in testing for 0.5.2 in feature-open-recent

[2019-02-27 15:34] djhoese commented on #102
In GitLab by @rayg-ssec on Nov 3, 2015, 07:24

Implemented in 0.6, added Open from Cache in 0.7

[2019-02-27 15:34] #102 closed

[2019-02-27 15:34] djhoese opened #103 "move layer details pane into tabbed view"
In GitLab by @rayg-ssec on Oct 30, 2015, 08:36

![Schmitovision](/uploads/347f25976593dd71a7949a675b8559bd/Schmitovision.png)
Can tabbed view of Layer Details be the default?

[2019-02-27 15:34] djhoese commented on #103
In GitLab by @djhoese on Nov 1, 2015, 15:07

I am not the targeted user for SIFT, but this does not make sense to me. If layer details are based on selection then I feel like it's an added unnecessary step to have to switch between the two tabs. I personally would like a pop up box of information (like a tool tip), but that is more difficult to do.

[2019-02-27 15:34] djhoese commented on #103
In GitLab by @evas-ssec on Nov 3, 2015, 12:07

You should be able to pop the layer details pane out to get something more like what Dave is asking for. I can poke at Designer and see if the other thing is possible if you still want it.

[2019-02-27 15:34] djhoese commented on #103
In GitLab by @djhoese on Oct 18, 2017, 17:18

closed

[2019-02-27 15:34] #103 closed

[2019-02-27 15:35] djhoese opened #104 "No data in "Introductory" data laptop directories."
In GitLab by @kathys on Oct 30, 2015, 12:01

There are now separate data directories headings with the different lab topics broken out individually, which is great.   However, the "Introductory" directories do no contain any data.

[2019-02-27 15:35] djhoese commented on #104
In GitLab by @djhoese on Nov 1, 2015, 15:02

Not sure what happened, but we were able to get this resolved by resyncing the data.

[2019-02-27 15:35] #104 closed

[2019-02-27 15:35] djhoese opened #105 "glitch: time_label_for_uuid results in an exception but not a failure"
In GitLab by @rayg-ssec on Oct 30, 2015, 13:33

[code]

[2019-02-27 15:35] djhoese commented on #105
In GitLab by @rayg-ssec on Nov 3, 2015, 07:27

This should be fixed in 0.7.

[2019-02-27 15:35] #105 closed

[2019-02-27 15:35] djhoese opened #106 "Shown date and time may cause confusion in certain circumstances"
In GitLab by @jgerth on Oct 30, 2015, 17:05

To prevent confusion, the date and time above the loop slider should disappear when:
all the layers are unloaded,
no layers/channels are checked, or
multiple layers/channels of different times are checked.

[2019-02-27 15:35] djhoese commented on #106
In GitLab by @djhoese on Oct 18, 2017, 12:15

It seems that the current behavior is as expected except when multiple times are checked then it shows the most recent time or maybe the top-most layer's time.

[2019-02-27 15:35] djhoese commented on #106
In GitLab by @djhoese on Oct 18, 2017, 14:00

After meeting and talking to Jordan this is the expected/desired behavior. The time should show whatever is visible on screen.

[2019-02-27 15:35] djhoese commented on #106
In GitLab by @djhoese on Oct 18, 2017, 14:00

closed

[2019-02-27 15:35] #106 closed

[2019-02-27 15:35] djhoese opened #107 "Maintain checked layers between multiple layers lists"
In GitLab by @jgerth on Oct 30, 2015, 17:12

For multiple layers lists, the unique checked layers/channels of an individual layers list would ideally be maintained when alternating between different lists.

[2019-02-27 15:35] djhoese commented on #107
In GitLab by @rayg-ssec on Nov 3, 2015, 07:28

I was looking at this with Eva last night and barring the glitch when animating I think this is fixed in 0.7. Will leave this open until we've all exercised it.

[2019-02-27 15:35] djhoese commented on #107
In GitLab by @jgerth on Nov 3, 2015, 10:39

It does not seem to be working for me in 0.7.0, at least if I understand how it is supposed to work. I have a set of 16 bands loaded and it seems to always return the check to the first/top layer when I alternate between the two lists. The highlighted layer is preserved upon returning, however.

[2019-02-27 15:35] djhoese commented on #107
In GitLab by @evas-ssec on Nov 3, 2015, 12:04

What you're seeing is probably the problem where it resets when you have an animation order defined (to show the first layer in the animation order and none of the others).

[2019-02-27 15:35] djhoese commented on #107
In GitLab by @rayg-ssec on Nov 3, 2015, 15:32

This is in SceneGraphManager changes to frame_order, which is in fact resetting the animation order, then signaling the rest of the system to update. Looking at simple fixes for 0.7.1.

[2019-02-27 15:35] djhoese commented on #107
In GitLab by @rayg-ssec on Nov 3, 2015, 15:56

mentioned in commit 110927a77339f919873a8f1161701603e8037b9f

[2019-02-27 15:35] djhoese commented on #107
In GitLab by @rayg-ssec on Nov 5, 2015, 10:12

mentioned in commit f773af146680554cc64196abd626bed059acf5ad

[2019-02-27 15:35] djhoese commented on #107
In GitLab by @djhoese on Oct 18, 2017, 21:08

closed

[2019-02-27 15:36] #107 closed

[2019-02-27 15:36] djhoese opened #108 "Switch up and down arrows"
In GitLab by @jgerth on Oct 30, 2015, 17:18

Please reverse the behavior of the up and down arrows so that the "up" arrow decreases the band number, and the "down" arrow increases the band number. With the layers list sorted from lowest band number to highest band number, the "down" arrow is causing the list to increment on the screen in the "up" direction currently. This may cause confusion.

[2019-02-27 15:36] djhoese commented on #108
In GitLab by @rayg-ssec on Nov 3, 2015, 07:27

Fixed in 0.7.0

[2019-02-27 15:36] djhoese commented on #108
In GitLab by @djhoese on Dec 9, 2015, 13:18

mentioned in commit 462432a7946c6f292a17c4ee9cd7dbbb4be88732

[2019-02-27 15:36] #108 closed

[2019-02-27 15:36] djhoese opened #109 "Individual band directories in "Introductory" lab directories"
In GitLab by @kathys on Oct 31, 2015, 09:32

On the wish list - please add individual band directories for the files that appear in the "Introductory" lab laptop directories.  I know that I did not request this until now, and can certainly live with the directories that exist, but would be optimal to add this.  Sorry this request is so late - of course you can say "no way".

[2019-02-27 15:36] djhoese commented on #109
In GitLab by @djhoese on Nov 1, 2015, 19:50

@kathys So would something like this work?:

    Introduction/
        B1/
        B*/
        HS*.tif

That is, the band directories would be right next to the individual files.

[2019-02-27 15:36] djhoese commented on #109
In GitLab by @kathys on Nov 1, 2015, 22:04

Dave, I am trying to figure out the best way to do this, and I think you should leave the directories they way they are for now.  I have begun the labs and think it should be no problem to write them using what is there now.  We should talk about the best way to do this in the future.

[2019-02-27 15:36] djhoese commented on #109
In GitLab by @djhoese on Nov 6, 2015, 08:21

Maybe next training we can consider a better way of organizing the data. I think if we implement stuff like what's described in #103 we wouldn't need this as much since you could easily sort by the metadata like you can in Windows Explorer or Finder with date modified, etc.

[2019-02-27 15:36] #109 closed

[2019-02-27 15:36] djhoese opened #110 "Zoom to rectangle tool in Area Probe Graphs does not work on histograms"
In GitLab by @kathys on Oct 31, 2015, 19:15

When I tried zooming in on a histogram region using the zoom tool in the Area Probe Graphs so I could see a tail better, it actually resulted in shrinking the whole histogram into the size of the rectangle that I outlined.

[2019-02-27 15:36] djhoese commented on #110
In GitLab by @kathys on Oct 31, 2015, 19:18

I should add that I was able to perform the task that I wanted to demonstrate by changing the limits of the X-Axis.

[2019-02-27 15:36] djhoese commented on #110
In GitLab by @djhoese on Nov 1, 2015, 14:56

@kathys are you able to reproduce this easily? What are the steps to do so? Does it happen every time?

[2019-02-27 15:36] djhoese commented on #110
In GitLab by @kathys on Nov 1, 2015, 17:50

Yes, I was able to reproduce this today with the .6.0 version.  To see this effect,
- select a region to create a histogram
- Select the "Zoom to rectangle" option in the Area Probe Graphs window
- Select a subset of the histogram by dragging a box around some portion of the histogram.

See example below.  It actually shrinks the histogram.

![Example2](

[2019-02-27 15:36] djhoese commented on #110
In GitLab by @djhoese on Nov 1, 2015, 19:44

@kathys Any chance you are holding the "Ctrl" key while creating the rectangle? This is the only way I was able to reproduce this problem. This toolbar at the top of the plots is actually provided by matplotlib (the python plotting library) so if we have problems with it we might have to submit a bug report to their project.

[2019-02-27 15:36] djhoese commented on #110
In GitLab by @kathys on Nov 1, 2015, 21:51

I know what it is Dave.  I was using the right mouse button while dragging rather than the left mouse button.  I will just make sure to explicitly say this in my lab.

[2019-02-27 15:36] #110 closed

[2019-02-27 15:36] djhoese opened #111 "Version SIFT .6.0 initial display problem"
In GitLab by @kathys on Nov 1, 2015, 18:14

The new SIFT display is problematic in that the band that I load is not completely visible.  The letters are cut off and no matter how I resize it, it remains cut off.

![Example1](/uploads/7a5de9f6554332b1d2833d122a23bec9/Example1.PNG)

[2019-02-27 15:36] djhoese commented on #111
In GitLab by @rayg-ssec on Nov 2, 2015, 22:00

Redid a whole lot of painting logic and font selection with 0.7.0. Checked it in VM. Fingers crossed that Windows is halfway uniform.

[2019-02-27 15:36] djhoese commented on #111
In GitLab by @rayg-ssec on Nov 3, 2015, 11:37

v0.7.0 only partially fixes this. We're still getting clipping on the labels on the Lenovo but not on the VM. Mac is a walk in the park.

[2019-02-27 15:36] djhoese commented on #111
In GitLab by @rayg-ssec on Nov 3, 2015, 13:22

mentioned in commit 412b7a0709ca707b49e5033ac598a221d43f38d0

[2019-02-27 15:37] djhoese commented on #111
In GitLab by @rayg-ssec on Nov 3, 2015, 15:04

Lots of tweaks done in bugfix-windows-layerlist-font . Hopefully all for the better. Merged for 0.7.1

[2019-02-27 15:37] djhoese commented on #111
In GitLab by @djhoese on Nov 6, 2015, 08:20

This has been fixed from everything I saw while testing 0.7.1.

[2019-02-27 15:37] #111 closed

[2019-02-27 15:37] djhoese opened #112 "New Area Probe Graphs should be blank"
In GitLab by @kathys on Nov 2, 2015, 09:28

I really, really prefer that any New Area Probe Graphs created using the "+" Tab, be blank.  It can be really confusing if not.

[2019-02-27 15:37] djhoese commented on #112
In GitLab by @jgerth on Nov 2, 2015, 15:03

We decided on an alternative for this issue. The default behavior will remain as it is currently (0.6.0 release).

[2019-02-27 15:37] djhoese commented on #112
In GitLab by @rayg-ssec on Nov 2, 2015, 22:03

v0.7.0 retains JG's preferred copy behavior (more consistent with layer sets) while allowing the user to clear the region selection with Esc.

[2019-02-27 15:37] #112 closed

[2019-02-27 15:37] djhoese opened #113 "Object IDs are showing up in "Select Axis" pull down menu in Scatterplot Customization Menu"
In GitLab by @jbraun on Nov 2, 2015, 12:09

Follow these steps to reproduce the problem:

1.  Load two layers
2.  Click on the Region button and create a Region box
3.  Check the "vs Y layer" box in the 'Area Probe Graphics' section to create a scatterplot.
4.  Within the 'Area Probe Graphics' section, click on the "Customization" (the green checkbox) menu button.

In multiple tests from JGerth &

[2019-02-27 15:37] djhoese commented on #113
In GitLab by @djhoese on Nov 6, 2015, 08:19

This is technically expected. This menu (and the entire plot toolbar) is coming directly from matplotlib and was not created by us. The first axes listed is the main data plot, the second is for the colorbar. The colorbar is new since we added the density plots so this selection menu is also new with this change. I've customized the toolbar a little so

[2019-02-27 15:37] #113 closed

[2019-02-27 15:37] djhoese opened #114 "When I have animation order but I'm not animating and switch tabs it changes the visibility of my layers"
In GitLab by @evas-ssec on Nov 2, 2015, 13:10

When I have animation order set, but animation is not running, and I switch away from a tab and then back to it the visibility will reset to show the first frame of my animation (even though that wipes manual visibility changes and does not respect what frame it stopped animating on).

[2019-02-27 15:37] djhoese commented on #114
In GitLab by @rayg-ssec on Nov 2, 2015, 22:03

Is the simplest solution to this to stop animation when changing layer sets? Does that even fix it?

[2019-02-27 15:37] djhoese commented on #114
In GitLab by @evas-ssec on Nov 9, 2015, 10:52

The behavior I was seeing before was that when the animation was stopped on some frame other than the first one it would reset the visibility when I changed layer sets (as if it had been on the first frame). So the animation wasn't actively running at the time, if that's what you're asking.

[2019-02-27 15:37] djhoese commented on #114
In GitLab by @rayg-ssec on Nov 9, 2015, 10:55

I think this is fixed in 0.7.1 since I changed it around so that the animation display follows the visibility status instead of vice versa when changing layer sets.

[2019-02-27 15:37] djhoese commented on #114
In GitLab by @djhoese on Oct 18, 2017, 21:10

I'm assuming this has been fixed or is used so little that it isn't a big deal. Will likely change when timeline view is added.

[2019-02-27 15:37] djhoese commented on #114
In GitLab by @djhoese on Oct 18, 2017, 21:10

closed

[2019-02-27 15:37] #114 closed

[2019-02-27 15:37] djhoese opened #115 "When the point probe falls off the data area for some but not all layers, the bar it draws to display the probe value is inconsistent"
In GitLab by @evas-ssec on Nov 2, 2015, 13:44

If I click on the very edge of two layers with different resolutions I can select a point that has data for one layer but not another. In this case it shows the value for the layer it can and does not show a probe value for the layer that has no data (that part is fine!). However, it draws the colored rectangle that conveys the value's place in the la

[2019-02-27 15:37] djhoese commented on #115
In GitLab by @rayg-ssec on Nov 2, 2015, 22:02

Possible projection difference between bands makes for a pixel of data in the 1km that's not present in the 2km. Mainly should investigate to see if this is expected.

[2019-02-27 15:37] djhoese commented on #115
In GitLab by @djhoese on Oct 18, 2017, 17:17

I'm marking this as fixed since this is most likely an issue with the geotiffs and they will be deprecated...eventually.

[2019-02-27 15:37] djhoese commented on #115
In GitLab by @djhoese on Oct 18, 2017, 17:17

closed

[2019-02-27 15:38] #115 closed

[2019-02-27 15:38] djhoese opened #116 "resizing the layer details pane can hide the colormap display"
In GitLab by @evas-ssec on Nov 2, 2015, 14:47

If you resize the layer details pane too small the colormap display at the bottom will disappear.

[2019-02-27 15:38] djhoese commented on #116
In GitLab by @djhoese on Nov 2, 2015, 19:09

mentioned in commit 38adbdc5a575b2edb8d86b508583a291907de4da

[2019-02-27 15:38] djhoese commented on #116
In GitLab by @djhoese on Nov 2, 2015, 21:39

Status changed to closed by commit 38adbdc5a575b2edb8d86b508583a291907de4da

[2019-02-27 15:38] #116 closed

[2019-02-27 15:38] djhoese opened #117 "Transparency color maps not correctly applied to infrared channels from certain cases"
In GitLab by @jgerth on Nov 2, 2015, 15:01

The transparency color maps do not work for infrared bands from those cases that have the data subsets from the full disk (such as the 2015-10-07 case). Instead, the areas that should be transparent (or partially) are black.

[2019-02-27 15:38] djhoese commented on #117
In GitLab by @djhoese on Nov 2, 2015, 21:52

@jgerth I tried this on my mac with some "trimmed" images and did not have a problem. I'll try the specific case you mention tomorrow on a Windows laptop and go from there.

[2019-02-27 15:38] djhoese commented on #117
In GitLab by @djhoese on Nov 3, 2015, 12:09

@jgerth tried to show this to me, but it turns out he lies about everything. Closing for now until he can find a way to reproduce it.

[2019-02-27 15:38] djhoese commented on #117
In GitLab by @djhoese on Nov 3, 2015, 13:45

I was able to reproduce this, but am having trouble finding a pattern. I'll document what I've found so far.

Case 1
------

1. Load B12 0000 and B14 0000 (B12 loads on top, B14 loads on bottom).
2. Set transparency color map on B14.
3. Move B14 on top of B12.
4. No transparency.

Case 2
------

1. Add B12 0000.
2. Add B14 0000 (B14 ends up on top)
3. S

[2019-02-27 15:38] djhoese commented on #117
In GitLab by @djhoese on Nov 3, 2015, 14:17

I've tried playing with the drawing order via the `order` property of the individual image layers at the same time the Z order is set and it has an affect, but not anything that's super useful yet. If I set the draw order so that "top" layers are drawn first then the transparency (layer 1 order < layer 2 order) doesn't work from the initial load. If I m

[2019-02-27 15:38] djhoese commented on #117
In GitLab by @djhoese on Nov 3, 2015, 19:25

This should be fixed in 0.7.1. The problem was the drawing order, but drawing order is only re-evaluated when a node (layer) is removed or added on the scene graph.

[2019-02-27 15:38] #117 closed

[2019-02-27 15:38] djhoese opened #118 "Column sorting in open/import/cache dialog"
In GitLab by @djhoese on Nov 2, 2015, 18:20

It would be really cool to have sortable columns when opening files or browsing the cache by having columns for various metadata (instrument, time step, data type, etc).

[2019-02-27 15:38] djhoese opened #119 "Cannot launch SIFT .7"
In GitLab by @kathys on Nov 2, 2015, 22:48

Sorry to say this, but the new version does not launch after updating on my laptop. There is a message that is displayed in the command window when I launch, but it disappears so quickly that I cannot read it.

[2019-02-27 15:38] djhoese commented on #119
In GitLab by @rayg-ssec on Nov 3, 2015, 07:26

Did Dave remove the -f option from the update script, as was done on the other laptops? The update worked fine on my VM (though again, I am a horrible tester).

[2019-02-27 15:38] djhoese commented on #119
In GitLab by @kathys on Nov 3, 2015, 07:31

No idea.  How can I tell.

[2019-02-27 15:38] djhoese commented on #119
In GitLab by @djhoese on Nov 3, 2015, 12:14

I think this is the same issue as #105, but I won't know for sure until I have Kathy's laptop in front of me. For now we'll keep this open.

[2019-02-27 15:39] djhoese commented on #119
In GitLab by @djhoese on Nov 6, 2015, 08:15

Turned out to be the same problem as #105.

[2019-02-27 15:39] #119 closed

[2019-02-27 15:39] djhoese opened #120 "Version 0.7.0 Can't import pyside or pyqt4"
In GitLab by @djhoese on Nov 3, 2015, 09:52

@rayg-ssec creates a package for SIFT (cspov) 0.7.0 last night (November 2nd, 2015). He was able to successfully run the package on his windows 64-bit virtual machine. After updating, the Guam Windows laptops seem to try to import 'pyside' and fail with a quick close of the application. This is actually happening because its failing to use the 'pyqt4' b

[2019-02-27 15:39] djhoese commented on #120
In GitLab by @djhoese on Nov 3, 2015, 09:56

Installing pyqt4 with version 4.10.4 seems to make the broken laptops work:

    conda install pyqt==4.10.4

Still not sure why some laptops work with 4.11.4 and others don't.

[2019-02-27 15:39] djhoese commented on #120
In GitLab by @jbraun on Nov 3, 2015, 11:17

Output of 'conda list -e' requested by R. Garcia from my OSX laptop.

[conda-osx-jbraun-v070.txt](/uploads/3a669961f6e61e8202dc77ceafa64b14/conda-osx-jbraun-v070.txt)

[2019-02-27 15:39] djhoese commented on #120
In GitLab by @djhoese on Nov 3, 2015, 12:03

There seems to be a problem with the pyqt==4.11.4 package on windows 64-bit. It also seems to only be a problem when the conda version is 3.14.1 and not a problem when conda is at version 3.18.1. Upgrading to the new conda fixes the install. However, that requires updating the update script on the windows laptops so its not the easiest option.

Our solu

[2019-02-27 15:39] #120 closed

[2019-02-27 15:39] djhoese opened #121 "equalizer display incorrect when clim is swapped (/)"
In GitLab by @rayg-ssec on Nov 3, 2015, 10:51

When the color map limits are swapped, the equalizer display does not properly display. Probably just need to sort clim in low-to-high order before using in the document equalizer calculator.

[2019-02-27 15:39] djhoese commented on #121
In GitLab by @rayg-ssec on Nov 3, 2015, 10:55

mentioned in commit a743dae908a4bd1daea9f1b69ea9a41b5856bda1

[2019-02-27 15:39] djhoese commented on #121
In GitLab by @rayg-ssec on Nov 3, 2015, 10:55

addressed in bugfix-equalizer-clim

[2019-02-27 15:39] djhoese commented on #121
In GitLab by @rayg-ssec on Nov 4, 2015, 10:23

resolved in 0.7.1

[2019-02-27 15:39] #121 closed

[2019-02-27 15:39] djhoese opened #122 "minor: when color limits are swapped (/) layer details does not immediately update"
In GitLab by @rayg-ssec on Nov 3, 2015, 10:57

When color limits have been swapped, they display properly after the user changes the layer selection. At the time that they're swapped, however, the clim detail display stays in the old order.

[2019-02-27 15:39] djhoese commented on #122
In GitLab by @evas-ssec on Nov 3, 2015, 12:00

The signal for changing the color limits wasn't hooked up inside the layer list model.

[2019-02-27 15:39] djhoese commented on #122
In GitLab by @djhoese on Nov 6, 2015, 08:15

@evas-ssec this was fixed in 0.7.1 right?

[2019-02-27 15:39] djhoese commented on #122
In GitLab by @evas-ssec on Nov 9, 2015, 10:46

Yes, it should have been.

[2019-02-27 15:39] #122 closed

[2019-02-27 15:39] djhoese opened #123 "Future enhancement: Increment clim upper limit with +/- keys"
In GitLab by @jgerth on Nov 3, 2015, 11:19

Future, not urgent enhancement: It would be nice to have the upper clim limit incremented higher or lower using the +/- keys, respectively.

[2019-02-27 15:39] djhoese commented on #123
In GitLab by @djhoese on Nov 3, 2015, 12:10

If I remember correctly this is your "comprise" for the feature you and Kathy really want which is to be able to manually type in the climits, right? If we made it possible to type in the value would you still want the key bindings?

[2019-02-27 15:39] djhoese commented on #123
In GitLab by @jgerth on Nov 3, 2015, 12:14

Yes, it is mainly for stretching the linear enhancement.

[2019-02-27 15:40] djhoese commented on #123
In GitLab by @djhoese on Oct 18, 2017, 17:09

This is now available through a dialog, but does not include the shortcut keys. If the shortcut keys are important then we can reopen this.

[2019-02-27 15:40] djhoese commented on #123
In GitLab by @djhoese on Oct 18, 2017, 17:09

closed

[2019-02-27 15:40] #123 closed

[2019-02-27 15:40] djhoese opened #124 "anomaly: density plot X vs Y got into a state of X vs X and would not shake loose"
In GitLab by @rayg-ssec on Nov 3, 2015, 17:19

@rayg-ssec was able to get 4f48ca7efb9d0b70b872242f1d7a07f3fa42a5e8 into a state where all changes to X vs Y configuration resulted in updated labels on the MPL density plot, but the output was consistently a density of X vs X (or Y vs Y).

Restarting the application made the problem disappear. Nothing unusual had been done during the broken session.

[2019-02-27 15:40] djhoese commented on #124
In GitLab by @djhoese on Nov 3, 2015, 19:22

What about hitting Esc and/or recreating the polygon?

[2019-02-27 15:40] djhoese commented on #124
In GitLab by @djhoese on Oct 18, 2017, 21:11

closed

[2019-02-27 15:40] #124 closed

[2019-02-27 15:40] djhoese opened #125 "Zooming/Panning breaks region selection"
In GitLab by @djhoese on Nov 3, 2015, 19:36

Region selection breaks if you zoom or pan while creating the polygon. This is because the coordinate system of the original points is in scene coordinates (i.e. number of pixels in view) so when you pan/zoom the pixel coordinates of the original point aren't the same anymore. The scene coordinates were used instead of map coordinates so that it was eas

[2019-02-27 15:40] djhoese commented on #125
In GitLab by @djhoese on Nov 28, 2015, 08:20

Maybe this could be a better option for doing the selection: https://groups.google.com/forum/#!topic/vispy/sUNKoDL1Gc0

[2019-02-27 15:40] djhoese opened #126 "architectural diagrams into wiki"
In GitLab by @rayg-ssec on Nov 4, 2015, 10:08

@rayg-ssec needs to document the shipped architecture of the application to help with planning refactoring needed prior to supporting polar stereographic and other projections.

[2019-02-27 15:40] djhoese commented on #126
In GitLab by @djhoese on Oct 18, 2017, 21:12

So...I don't think we ever did this, but multiple projections has been added so too late.

[2019-02-27 15:40] djhoese commented on #126
In GitLab by @djhoese on Oct 18, 2017, 21:12

closed

[2019-02-27 15:40] #126 closed

[2019-02-27 15:40] djhoese opened #127 "implement calculated layer based on two other layers"
In GitLab by @rayg-ssec on Nov 4, 2015, 10:27

After we can set explicit animation order, @rayg-ssec should sketch out calculated layers such that a user can create an algebraic expression (using the namespace of their layerlist) that results in a point-by-point calculated layer. This virtual layer should become part of the workspace so far as the rest of the application is concerned.

[2019-02-27 15:40] djhoese commented on #127
In GitLab by @djhoese on Oct 18, 2017, 21:12

closed

[2019-02-27 15:40] #127 closed

[2019-02-27 15:40] djhoese opened #128 "Glitch in zooming and panning not refreshing the screen"
In GitLab by @jbraun on Nov 4, 2015, 13:59

1. Load a layer
2. Zoom in significantly
3. Zoom out and immediately start panning

Eventually, at some point, you will get to a state where part or all of the image has not re-tiled properly (see attached screenshot).  This has been tested with 1, 16, and 48 layers loaded and you are able to do this independent of how many layers are loaded.

Clicking o

[2019-02-27 15:40] djhoese opened #129 "Clarify "Open Filename Pattern" dialog box"
In GitLab by @jbraun on Nov 4, 2015, 14:02

Currently this dialog box only states to "Open files matching pattern:".  Suggest adding clarification so it is clear to the user that they need to specify a full path along with the file mask.

[2019-02-27 15:40] djhoese opened #130 "labels reversed on menu next/last band"
In GitLab by @rayg-ssec on Nov 4, 2015, 14:07

When down-arrow became next-band, the labels did not get properly reversed.

[2019-02-27 15:41] djhoese commented on #130
In GitLab by @rayg-ssec on Nov 4, 2015, 15:00

mentioned in commit 694faf619cd89709b23ccbcecd113f48fe454d06

[2019-02-27 15:41] djhoese commented on #130
In GitLab by @rayg-ssec on Nov 5, 2015, 14:21

Merged fix to develop

[2019-02-27 15:41] #130 closed

[2019-02-27 15:41] djhoese opened #131 "Looping with multiple bands"
In GitLab by @jgerth on Nov 10, 2015, 00:24

When multiple bands are loaded for more than one time, looping should include all of the bands. Right now, one band is static while the other band progresses in the loop with time. This is particularly an issue when there is at least one channel with a partially transparent color enhancement.

[2019-02-27 15:41] djhoese commented on #131
In GitLab by @djhoese on Nov 25, 2015, 10:41

@jgerth Let me see if I understand what you're saying. Let's say you had 3 time steps of B01 in the layer list, under that we had 3 time steps of B02. We select B01 0000 to be the top visible layer and we set it to have a semi-transparent colormap. We then use the arrow keys to animate through the time steps of B02. You would like the B01 layers to cha

[2019-02-27 15:41] djhoese commented on #131
In GitLab by @jgerth on Nov 25, 2015, 11:23

@djhoese that is correct. I would recommend that during looping, different channels for the same time should all loop together in sync. I cannot immediately think of a use case for the current behavior except perhaps when the images are static. Thanks

[2019-02-27 15:41] djhoese opened #132 "Probe value should update when image updates"
In GitLab by @jgerth on Nov 18, 2015, 01:56

The probe value above the main display should update when a new image is selected and visible, or the display is looping. Right now, the probe only updates when a new probe point is selected. This is a high priority change due to the confusion this can cause, especially for multiple images within a loop.

[2019-02-27 15:41] djhoese commented on #132
In GitLab by @djhoese on Dec 9, 2015, 16:16

mentioned in commit a7bd45eba44e20a5d4395c4aed6758d1f2cca349

[2019-02-27 15:41] djhoese commented on #132
In GitLab by @djhoese on Dec 18, 2015, 16:24

Status changed to closed by commit a7bd45eba44e20a5d4395c4aed6758d1f2cca349

[2019-02-27 15:41] #132 closed

[2019-02-27 15:41] djhoese opened #133 "Support for GOES-R CMIP and AHI CMIP-alike imagery"
In GitLab by @rayg-ssec on Nov 26, 2015, 00:29

Use CMIP files and CMIP-alike files generated from HSD/HCAST files directly in SIFT

[2019-02-27 15:41] djhoese commented on #133
In GitLab by @rayg-ssec on Apr 18, 2017, 10:38

L1B (via PDA or GRB) supported in current release. Changing ticket to be CMIP+SCMI.

[2019-02-27 15:41] djhoese commented on #133
In GitLab by @rayg-ssec on Apr 18, 2017, 10:38

changed title from **Support for GOES-R {-imagery formats-}** to **Support for GOES-R {+CMIP / SCMI imagery+}**

[2019-02-27 15:41] djhoese commented on #133
In GitLab by @rayg-ssec on Sep 6, 2017, 14:13

changed title from **Support for GOES-R CMIP {-/ SCMI-} imagery** to **Support for GOES-R CMIP {+and AHI CMIP-alike+} imagery**

[2019-02-27 15:41] djhoese commented on #133
In GitLab by @rayg-ssec on Sep 6, 2017, 14:13

changed the description

[2019-02-27 15:41] djhoese commented on #133
In GitLab by @rayg-ssec on Sep 7, 2017, 15:36

Alpha version of this in c31186c89fb5879ea968742d99e597b15b0fc2f5 . A few minor tweaks to goesr, bumping it to 0.4.1 at rayg/goesr/59b16ef0a6 .

[2019-02-27 15:41] djhoese opened #134 "premature exit error when loading data"
In GitLab by @djhoese on Dec 3, 2015, 13:10

I get the following in my log when loading images from a file pattern (via the UI menu):

    2015-12-03 13:05:57.878 python[944:4056893] modalSession has been exited prematurely - check for a reentrant call to endModalSession:

I have not tested other scenarios.

[2019-02-27 15:41] djhoese opened #135 "current version of vispy fails to freeze with py2exe"
In GitLab by @djhoese on Dec 7, 2015, 10:52

I'm attempting to package up SIFT which depends on vispy. While trying to perform the basic py2exe build process:

    # in setup.py
    import py2exe
    # add to setup call
    console=[{
        'script': 'cspov/__main__.py',
        'dest_base': "SIFT",
        }],

Then running `python setup.py py2exe` on a Windows Virtual Machine I get the followi

[2019-02-27 15:41] djhoese commented on #135
In GitLab by @djhoese on Apr 4, 2016, 12:54

Found a workaround by using pyinstaller instead, although the newer version of vispy did help I ran in to too many issues as I continued (can't remember specifics).

[2019-02-27 15:41] #135 closed

[2019-02-27 15:41] djhoese opened #136 "Rename CSPOV to SIFT"
In GitLab by @djhoese on Feb 8, 2016, 12:20

We have decided to name the project SIFT, but the repository on gitlab, python package name, and Anaconda channel are all still named or reference CSPOV. The following will need to be changed (not exhaustive list):

- [x] Change name in setup.py to "sift"
- [x] Change name in conda-recipe/cspov/meta.yaml to "sift" including directory name
- [x] Find/rep

[2019-02-27 15:42] djhoese commented on #136
In GitLab by @djhoese on Oct 24, 2016, 11:01

Marked the task **Change name in setup.py to "sift"** as completed

[2019-02-27 15:42] djhoese commented on #136
In GitLab by @djhoese on Oct 24, 2016, 11:01

Marked the task **Change name in conda-recipe/cspov/meta.yaml to "sift" including directory name** as completed

[2019-02-27 15:42] djhoese commented on #136
In GitLab by @djhoese on Oct 24, 2016, 11:01

Marked the task **Find/replace "cspov" to "sift" in code base** as completed

[2019-02-27 15:42] djhoese commented on #136
In GitLab by @djhoese on Oct 24, 2016, 11:01

Marked the task **Rename directory on larch for Anaconda change from "cspov" to "sift"** as completed

[2019-02-27 15:42] djhoese commented on #136
In GitLab by @djhoese on Oct 24, 2016, 11:01

Marked the task **Update scripts on training laptops, William Straka's workstation, and any other custom installed versions to point to new Anaconda URL and use new SIFT naming.** as completed

[2019-02-27 15:42] djhoese commented on #136
In GitLab by @djhoese on Oct 24, 2016, 11:01

Marked the task **Move all `repos/py/*` content to the root `repos/` directory so that setup.py is on the top level of the repository. This is how other open source python projects behave and makes it possible to `pip install git://...` directly from the git repository.** as completed

[2019-02-27 15:42] djhoese commented on #136
In GitLab by @rayg-ssec on Sep 5, 2017, 11:21

marked the task **Rename gitlab repository and project (changing remote URLs)** as completed

[2019-02-27 15:42] djhoese commented on #136
In GitLab by @rayg-ssec on Sep 5, 2017, 11:25

done. All git repos will need to do
`git remote set-url origin git@gitlab.ssec.wisc.edu:SIFT/sift.git`

[2019-02-27 15:42] djhoese commented on #136
In GitLab by @rayg-ssec on Sep 5, 2017, 11:25

closed

[2019-02-27 15:42] #136 closed

[2019-02-27 15:42] djhoese opened #137 "cancel stale background tasks at first opportunity"
In GitLab by @rayg-ssec on Feb 11, 2016, 10:49

When a task gets queued, identically keyed tasks in the queue or in progress should be cut short. Partially implemented but needs to be completed.

[2019-02-27 15:42] djhoese opened #138 "SIFT may not start with corrupt file in workspace"
In GitLab by @jgerth on Mar 7, 2016, 17:56

A Windows user reported that SIFT was not starting, instead complaining:
<pre>
File "workspace\workspace.py", line 255, in _init_inventory_existing_datasets
EOFError
__main__ returned -1
</pre>
Deleting all of the files in the SIFT workspace resolved the issue.

[2019-02-27 15:42] djhoese commented on #138
In GitLab by @rayg-ssec on Apr 18, 2017, 10:36

Plan for this is to go with transactional SQLite database to manage workspace, which is WIP.

[2019-02-27 15:42] djhoese commented on #138
In GitLab by @rayg-ssec on Sep 5, 2017, 11:29

Rewritten workspace uses SQLite as of today's version, with versioned table IDs where compatibility breaks, and transactional changes to the database to avoid invalid state. Punishment testing is needed to confirm that this is difficult/impossible to break.

[2019-02-27 15:42] djhoese commented on #138
In GitLab by @djhoese on Oct 18, 2017, 21:13

closed

[2019-02-27 15:42] #138 closed

[2019-02-27 15:42] djhoese opened #139 "Menu option to clear cache"
In GitLab by @jgerth on Mar 11, 2016, 10:25

To quickly resolve issues related to errors encountered while loading data from the cache, there should be an option to clear the workspace, with a dialog box ("Are you sure?") to confirm the action. Alternatively, if there is a way to identify corrupt workspace files and delete or repair those, that would be preferred.

[2019-02-27 15:42] djhoese commented on #139
In GitLab by @djhoese on Oct 18, 2017, 21:15

closed

[2019-02-27 15:42] #139 closed

[2019-02-27 15:43] djhoese opened #140 "corrupt workspace prevents file open??"
In GitLab by @rayg-ssec on Mar 16, 2016, 15:24

investigate whether closing the application during loading can cause workspace to go into an invalid state

[2019-02-27 15:43] djhoese commented on #140
In GitLab by @djhoese on May 5, 2016, 11:56

Possible related #123

[2019-02-27 15:43] djhoese commented on #140
In GitLab by @rayg-ssec on Apr 18, 2017, 10:37

Redundant to #123

[2019-02-27 15:43] #140 closed

[2019-02-27 15:43] djhoese opened #141 "New test cases for April 2016"
In GitLab by @djhoese on Mar 16, 2016, 15:47

For the labs being done in April 2016 there will need to be a few new test cases to be generated. @kathys and anyone else who needs new test cases can add them as comments here or send me an email.

[2019-02-27 15:43] djhoese commented on #141
In GitLab by @djhoese on Mar 23, 2016, 09:01

Email from @ScottLindstrom:

@ScottLindstrom, is there a name for the "section" that this goes under? Like "Introduction", "Water Vapor", "Weighting Functions", or "Extra"?

And what is the full bounding box for this data?

[2019-02-27 15:43] djhoese commented on #141
In GitLab by @djhoese on Mar 24, 2016, 23:13

From Kathy:

[2019-02-27 15:43] djhoese commented on #141
In GitLab by @djhoese on Mar 30, 2016, 15:26

Since we are over Hawaii for this training Kathy would like to have full temporal resolution up to 0400.

[2019-02-27 15:43] #141 closed

[2019-02-27 15:43] djhoese opened #142 "Probe value on histogram or density map"
In GitLab by @jgerth on Apr 13, 2016, 03:17

This is a feature request from a user, targeted for 1.0.0 or earlier. The probe value should appear in the histogram or density map if it is placed in the selected region, denoted by a unique symbol.

[2019-02-27 15:43] djhoese commented on #142
In GitLab by @djhoese on Apr 29, 2016, 13:17

After discussion, there will be one probe point for each plot "tab". When the point probe is updated, the current the plot is redrawn. On the histogram plot the "bucket" where the point probe is located should be highlighted in some way (add border color, etc). On a density scatter plot there will be one point (white start with black border or somethin

[2019-02-27 15:43] djhoese commented on #142
In GitLab by @djhoese on May 6, 2016, 09:24

mentioned in commit 37026fa728fd8b67bba64db4f54f9e3367a8b138

[2019-02-27 15:43] djhoese commented on #142
In GitLab by @djhoese on May 18, 2016, 14:15

Status changed to closed by commit 37026fa728fd8b67bba64db4f54f9e3367a8b138

[2019-02-27 15:43] #142 closed

[2019-02-27 15:43] djhoese opened #143 "Make probe marker disappear"
In GitLab by @jgerth on Apr 13, 2016, 03:20

This is a feature request from a user, targeted for 1.0.0 or earlier. The probe marker "X" should disappear from the display window if the user selects a designated hot key. The probe value should also disappear, as if it is in the pre-use state.

[2019-02-27 15:43] djhoese commented on #143
In GitLab by @djhoese on Apr 29, 2016, 13:16

Have a hot key ("x") that toggles whether the probe point is shown (see #127 because it will also remove it from the plot).

[2019-02-27 15:43] djhoese commented on #143
In GitLab by @djhoese on May 5, 2016, 15:03

mentioned in commit b887dc1d964a986ed0b1a4cd78c28bfd884dfeb6

[2019-02-27 15:43] djhoese commented on #143
In GitLab by @djhoese on May 18, 2016, 14:15

Status changed to closed by commit b887dc1d964a986ed0b1a4cd78c28bfd884dfeb6

[2019-02-27 15:43] #143 closed

[2019-02-27 15:44] djhoese opened #144 "Refresh histogram display when new band is loaded"
In GitLab by @djhoese on May 18, 2016, 13:22

During the training at SSEC/CIMSS a group loaded a few bands, created a point probe, then loaded band 14. The histogram display did not update to include the histogram bar for the newly loaded band 14.

[2019-02-27 15:44] djhoese commented on #144
In GitLab by @djhoese on May 18, 2016, 14:00

mentioned in commit cc54517c9583a956991abeb3427f72b06c109adf

[2019-02-27 15:44] djhoese commented on #144
In GitLab by @djhoese on May 18, 2016, 14:15

Status changed to closed by commit cc54517c9583a956991abeb3427f72b06c109adf

[2019-02-27 15:44] #144 closed

[2019-02-27 15:44] djhoese opened #145 "RGB sometimes not retiling"
In GitLab by @djhoese on Aug 2, 2016, 10:27

Currently working under the `feature-rgb-ui` branch where most things are working except for a hard to reproduce bug. After creating an RGB layer, making it valid by selecting 3 layers, and then changing a channel layer to a different layer the retiling task never actually gets run. The most recent time this occurred I changed the red channel from a val

[2019-02-27 15:44] djhoese opened #146 "Allow partial RGB creation"
In GitLab by @djhoese on Aug 5, 2016, 13:16

If at least one RGB channel is chosen then show as much as possible. If all RGB channels are None then layer is invalid. "None" RGB channels are filled with NaNs and if a pixel has all NaNs for a specific pixel it is transparent (alpha = 0 if all(channels are NaN) else 255).

[2019-02-27 15:44] djhoese commented on #146
In GitLab by @djhoese on Aug 11, 2016, 15:53

Added in most recent RGB changes. Should be in develop branch now.

[2019-02-27 15:44] #146 closed

[2019-02-27 15:44] djhoese opened #147 "Add possible third dimension for scatter plots"
In GitLab by @jgerth on Aug 10, 2016, 11:12

Support for a third dimension on scatter plots would be desirable to add information from a third channel. A graph with three dimensions could be useful with RGB composites to plot the probe location as well. This is a feature that would be "nice to have" and is not urgent.

[2019-02-27 15:44] djhoese opened #148 "Future Enhancement: Write RGB recipe to XML"
In GitLab by @jgerth on Aug 10, 2016, 11:16

Users should be able to save the attributes of an RGB in an XML file. This is a feature that would be "nice to have" and is not urgent. Tim Schmit originally suggested this feature.

[2019-02-27 15:44] djhoese commented on #148
In GitLab by @ScottLindstrom on Aug 18, 2016, 14:26

Why XML?  Nobody likes xml!

[2019-02-27 15:44] djhoese commented on #148
In GitLab by @jgerth on Aug 19, 2016, 11:43

I hope this might match the AWIPS XML style for RGBs. If you have a different idea, I am open to it.

[2019-02-27 15:44] djhoese opened #149 "Add half-pixel to point probe"
In GitLab by @ScottLindstrom on Aug 18, 2016, 14:25

Zoom way way way way in over hot region of Australia.  Probe reports upper left pixel value when sufficiently close.  But not when the probe is in the middle of the pixel.

[2019-02-27 15:44] djhoese opened #150 "Ability to create datasets for Kansas City Training"
In GitLab by @ScottLindstrom on Aug 26, 2016, 12:44

The SOO Training in Kansas City will require a bunch of new datasets.  A streamlined way to create those, without Dave Hoese's involvement, would be beneficial.  I was told how to do this long ago, and it worked, sort of.  (This is an email Dave sent to me on 26 April at 2:51 -- Ray was cc'ed)  My recollection is that I asked Dave some questions

[2019-02-27 15:44] djhoese commented on #150
In GitLab by @ScottLindstrom on Sep 16, 2016, 09:19

DaveH had the suggestion to try the above again to see if it works.  Nope.  The problem is that /delta has no data on it.  (Does /delta still exist?)

Followup question:  Where does the Himawari archived data  sit -- in a place where it can be accessed so that datasets can be made?

[2019-02-27 15:44] djhoese commented on #150
In GitLab by @rayg-ssec on Sep 5, 2017, 11:30

Is this resolved with the transition over to fixed grid products, or do we need to confirm Himawari HSD/HCAST (either native or via CMIP netcdf conversion) functions before closing this ticket?

[2019-02-27 15:44] djhoese commented on #150
In GitLab by @djhoese on Oct 18, 2017, 17:19

closed

[2019-02-27 15:44] #150 closed

[2019-02-27 15:44] djhoese opened #151 "Probe value text not shown"
In GitLab by @jgerth on Aug 31, 2016, 13:05

The probe value text container should be right justified. A Windows 10 user reported that the probe value text above the image canvas was not shown. See the attached file.![ScreenshotProbeValue](/uploads/0e403cd77d479639f995e9aee349ce53/ScreenshotProbeValue.png)

[2019-02-27 15:45] djhoese commented on #151
In GitLab by @jgerth on Aug 31, 2016, 13:06

Assigned to @rayg-ssec per @djhoese instruction

[2019-02-27 15:45] djhoese commented on #151
In GitLab by @rayg-ssec on Mar 13, 2017, 16:06

Right justified that text control in bugfix-probe-text-136 branch.

[2019-02-27 15:45] djhoese commented on #151
In GitLab by @rayg-ssec on Mar 13, 2017, 16:09

merged bugfix-probe-text-136 aka 9b0e131 to develop. Close when confirmed fixed on Windows.

[2019-02-27 15:45] djhoese commented on #151
In GitLab by @djhoese on Oct 18, 2017, 09:35

closed

[2019-02-27 15:45] #151 closed

[2019-02-27 15:45] djhoese opened #152 "Arrow toggling incorrect layer's visibility"
In GitLab by @djhoese on Oct 24, 2016, 11:09

@ScottLindstrom discovered this although I'm 99% sure this was a problem in the past. The test case is load multiple bands and multiple times for those bands (Scott did 3 bands and 3 times). Now use the arrow keys to step through the bands and then through the times. It seems that the top most layer in the layer list will get "checked" visible or will

[2019-02-27 15:45] djhoese commented on #152
In GitLab by @ScottLindstrom on Oct 24, 2016, 12:02

I loaded band 04, 05 and 13 from  0400 first, then 0350 then 0340.  They are correctly ordered in the Layers window, but cycling through always results in the Band 04 image @0400 being checked on whenever I touch an arrow key.  Not necessarily the top-most is being turned on, because that becomes the band 04 at 0340.  The first top-most band.

[2019-02-27 15:45] djhoese commented on #152
In GitLab by @djhoese on Oct 18, 2017, 21:16

This should be fixed in 0.9.4.

[2019-02-27 15:45] djhoese commented on #152
In GitLab by @djhoese on Oct 18, 2017, 21:16

closed

[2019-02-27 15:45] #152 closed

[2019-02-27 15:45] djhoese opened #153 "Make sure geotiff pixel locations are treated as pixel centers"
In GitLab by @djhoese on Nov 9, 2016, 14:43

Jay Cable at GINA brought up a possible issue with Polar2Grid where a half pixel shift can be seen when viewing produced geotiffs in QGIS. My guess is that QGIS isn't properly respecting the "pixel is an area" nature of most geotiffs. We should make sure I'm not doing the same in SIFT.

[2019-02-27 15:45] djhoese commented on #153
In GitLab by @djhoese on Nov 9, 2016, 14:43

Polar2Grid issue: https://github.com/davidh-ssec/polar2grid/issues/121

[2019-02-27 15:45] djhoese commented on #153
In GitLab by @djhoese on Nov 9, 2016, 15:39

FYI the solution was fixing the geotransform in the geotiff. The geotiff specification defines a PixelIsArea-style geotiff as having coordinates for the upper-left corner of the pixel. I was using the center of the pixel as is normal for scientific imagery data. I still need to verify how SIFT is doing it, but will like wait until after we move away fro

[2019-02-27 15:45] djhoese commented on #153
In GitLab by @djhoese on Oct 18, 2017, 21:19

changed time estimate to 15m

[2019-02-27 15:45] djhoese opened #154 "Future Enhancement: Customization options for probe value location on scatter plot"
In GitLab by @jgerth on Jan 11, 2017, 09:00

Some users are having difficulty locating the white circle with black outline on the scatter plot. Options (to adjust color and size) for more readily locating the probe value location on the scatter plot would make it easier for them.

[2019-02-27 15:45] djhoese commented on #154
In GitLab by @jgerth on Jan 11, 2017, 09:01

changed title from **Future Enhancement: Customization {-Options for Probe Value Location on Scatter P-}lot** to **Future Enhancement: Customization {+options for probe value location on scatter p+}lot**

[2019-02-27 15:45] djhoese commented on #154
In GitLab by @djhoese on Jan 13, 2017, 21:47

assigned to @djhoese

[2019-02-27 15:45] djhoese commented on #154
In GitLab by @djhoese on May 4, 2017, 12:10

@jgerth Ray and I had talked about user preferences a couple weeks ago. Is this setting something you would want lab users to be able to change or should this just be set once for all lab machines? The normal SIFT releases would allow for full customization.

[2019-02-27 15:45] djhoese commented on #154
In GitLab by @jgerth on Jun 12, 2017, 17:11

Something each user can configure is best for the long-term.

[2019-02-27 15:46] djhoese opened #155 "Extreme values in Band 7 inhibit creation of plot from region"
In GitLab by @jgerth on Jan 31, 2017, 14:50

Users were attempting to create a scatterplot from a region over a cold cloud in AHI Band 7. SIFT failed to produce a plot with Band 7 and a runtime "invalid value encountered in" error was indicated in the command window (for both the min and max). We do not see any error with the other bands. We should fix this is a subsequent release in the near futu

[2019-02-27 15:46] djhoese commented on #155
In GitLab by @djhoese on Jan 31, 2017, 15:48

Any chance you have the exact traceback/exception print out? Or do you know the exact geotiff file that was being probed? The region being probed?

[2019-02-27 15:46] djhoese commented on #155
In GitLab by @jgerth on Jan 31, 2017, 21:58

The file causing the error was from 13 March 2016 at 12:00 UTC.

[2019-02-27 15:46] djhoese commented on #155
In GitLab by @djhoese on Feb 2, 2017, 09:25

mentioned in commit 7651f97b477f785aeff0778548a6e3dc9b2f3fc5

[2019-02-27 15:46] djhoese commented on #155
In GitLab by @djhoese on Feb 2, 2017, 09:32

closed via commit 7651f97b477f785aeff0778548a6e3dc9b2f3fc5

[2019-02-27 15:46] #155 closed

[2019-02-27 15:46] djhoese opened #156 "Animation timeline should honor multiples of realtime and play multiple domains without strobing"
In GitLab by @rayg-ssec on Feb 4, 2017, 00:05

When transitioning ABI modes, animation should proceed as a multiple of realtime - higher effective frame rate when more frequent imagery are available, in other words. For GOES-16  this is represented by a mode shift between 3 and 4.

Also use actual imagery times to identify when layers enter and leave the screen.

By using actual on-screen-off-scre

[2019-02-27 15:46] djhoese commented on #156
In GitLab by @rayg-ssec on Feb 4, 2017, 00:10

changed title from **Animation timeline should {-be multiples of realtime-}** to **Animation timeline should {+honor multiples of realtime and play multiple domains without strobing+}**

[2019-02-27 15:46] djhoese opened #157 "State Boundaries Needed for GOES-16 data"
In GitLab by @ScottLindstrom on Feb 7, 2017, 14:55

Just the Country outline isn't enough when you're talking about things happening in CONUS.

[2019-02-27 15:46] djhoese commented on #157
In GitLab by @djhoese on Feb 13, 2017, 12:33

assigned to @djhoese

[2019-02-27 15:46] djhoese commented on #157
In GitLab by @djhoese on Feb 13, 2017, 12:33

closed

[2019-02-27 15:46] #157 closed

[2019-02-27 15:46] djhoese opened #158 "Only allow layers with similar/same projections in RGB layer selection"
In GitLab by @djhoese on Feb 8, 2017, 13:41

It is not possible to draw an RGB layer if the layers don't share the same projection. Right now I'm stopping this by making the layer "invalid" if all dependencies don't share the same projection.

[2019-02-27 15:46] djhoese commented on #158
In GitLab by @djhoese on Oct 25, 2018, 13:32

This should have been fixed a while ago with the introduction of layer "FAMILY".

[2019-02-27 15:46] djhoese commented on #158
In GitLab by @djhoese on Oct 25, 2018, 13:32

closed

[2019-02-27 15:46] #158 closed

[2019-02-27 15:46] djhoese opened #159 "Probe and Cursor don't match"
In GitLab by @ScottLindstrom on Feb 20, 2017, 11:16

This was in the GOES-R Test projection, with a meso off FL.  Note the attached screenshot -- the hand shows where I right-clicked to probe, and the probe is in a showing up in a different pixel.  This did not occur in the LCC Projection.![ZoomBand07](/uploads/26ffd0ca55a4b7d2bf361531607ed760/ZoomBand07.png)

Things to try:  Is the offset present

[2019-02-27 15:46] djhoese commented on #159
In GitLab by @djhoese on Feb 20, 2017, 11:33

assigned to @djhoese

[2019-02-27 15:46] djhoese commented on #159
In GitLab by @djhoese on Feb 20, 2017, 13:27

My best guess is that my GPU version of the `geos` projection is off by the tiniest little bit. To see this issue doesn't actually require loading any data and can currently only be seen in the GEOS-based view projections. It gets worse the further out you go. The series of events that occurs when placing a probe:

1. Click mouse
2. VisPy takes those s

[2019-02-27 15:47] djhoese commented on #159
In GitLab by @djhoese on Feb 20, 2017, 13:30

For the record the C code I'm basing my implementation off of is here:

 - https://github.com/OSGeo/proj.4/blob/master/src/PJ_geos.c

Also relevant:

 - https://github.com/OSGeo/proj.4/blob/master/src/pj_init.c
 - https://github.com/OSGeo/proj.4/blob/master/src/pj_fwd.c
 - https://github.com/OSGeo/proj.4/blob/master/src/hypot.c

[2019-02-27 15:47] djhoese commented on #159
In GitLab by @djhoese on Feb 28, 2017, 17:47

mentioned in commit 9c778f4d36c05b94b2cdf38fa60ce882a0638ffc

[2019-02-27 15:47] djhoese commented on #159
In GitLab by @djhoese on Apr 21, 2017, 12:13

closed via commit 9c778f4d36c05b94b2cdf38fa60ce882a0638ffc

[2019-02-27 15:47] #159 closed

[2019-02-27 15:47] djhoese opened #160 "File selection window defaults to show nc extensions only"
In GitLab by @jgerth on Feb 21, 2017, 15:31

The default behavior of the SIFT "open" file selection window should be to show both geotiff and netcdf extensions. Currently, it defaults to show netcdf extensions only, which has confused many users into thinking that there are no files in the directory (even though geotiffs may exist). Please target this for 0.9.1.

[2019-02-27 15:47] djhoese commented on #160
In GitLab by @rayg-ssec on Feb 22, 2017, 15:05

Fix candidate in e757c5f8a94bb49a6aa34fbb1ea9cb3715d60272 - needs verifying before closing ticket.

[2019-02-27 15:47] #160 closed

[2019-02-27 15:47] djhoese opened #161 "Date/time stamp in main window should reflect date/time of image when stopped with play button"
In GitLab by @jgerth on Feb 21, 2017, 15:38

When the user stops an animation using the play button in the main SIFT window, the date/time above the slider returns to the format string "YYYY-MM-DD ..." instead of the date/time stamp of the displayed image (as it does when the arrow keys are used), which is the preferred behavior. Please target this for 0.9.1.

[2019-02-27 15:47] djhoese commented on #161
In GitLab by @rayg-ssec on Feb 22, 2017, 15:01

mentioned in commit 18df9b15be8e84d5aed1350e53e6a9b51728f429

[2019-02-27 15:47] djhoese commented on #161
In GitLab by @rayg-ssec on Feb 22, 2017, 15:03

Close once fix confirmed as working.

[2019-02-27 15:47] djhoese commented on #161
In GitLab by @jgerth on Mar 15, 2017, 12:47

closed

[2019-02-27 15:47] #161 closed

[2019-02-27 15:47] djhoese opened #162 "Vertical line appears in display"
In GitLab by @ScottLindstrom on Feb 28, 2017, 17:13

![VerticalLine](/uploads/ff0d4064d99903aea5574ef54a60837c/VerticalLine.png)![VerticalLine2](/uploads/629bbf2fa1827ee4a69b9e797bfe03d8/VerticalLine2.png)

A vertical line will sometimes appear in the SIFT display.  Its location is constant for any particular zoom, but it changes as the zoom changes.  Sometimes it's not there at all.  This imagery

[2019-02-27 15:47] djhoese commented on #162
In GitLab by @djhoese on Oct 18, 2017, 12:57

assigned to @djhoese

[2019-02-27 15:47] djhoese opened #163 "Update default rainbow color enhancement for infrared bands"
In GitLab by @jgerth on Mar 2, 2017, 18:30

The default rainbow color enhancement for infrared bands is not identical to what appears in AWIPS. An adjustment should be made in SIFT so that the color tables are identical.

[color-11-new.cmap](/uploads/38ff8e47f6c781125ccaa7fbc3e5eb81/color-11-new.cmap)

[2019-02-27 15:47] djhoese commented on #163
In GitLab by @djhoese on Mar 13, 2017, 13:59

mentioned in commit a8c9d4d76b491307920c30b76226d1bc9b72d397

[2019-02-27 15:47] djhoese commented on #163
In GitLab by @jgerth on Mar 15, 2017, 12:48

closed

[2019-02-27 15:47] #163 closed

[2019-02-27 15:48] djhoese opened #164 "Menu option to uncheck all layers"
In GitLab by @jgerth on Mar 21, 2017, 16:31

There should be a menu option to uncheck all layers, or uncheck those layers that are selected/highlighted. This would be helpful for toggling correctly.

[2019-02-27 15:48] djhoese opened #165 "RGB Creation if a previous RGB is highlighted: doesn't work"
In GitLab by @ScottLindstrom on Mar 22, 2017, 16:40

If you hit 'c' to create a new RGB when a previously-computed RGB is highlighted (vs. an individual band) then that new RGB cannot be modified -- no bands will ever populate the pull-down menus.

[2019-02-27 15:48] djhoese commented on #165
In GitLab by @djhoese on Oct 18, 2017, 09:33

closed

[2019-02-27 15:48] djhoese commented on #165
In GitLab by @djhoese on Oct 18, 2017, 09:33

This seems to have been fixed a while ago. Not sure when, oops.

[2019-02-27 15:48] #165 closed

[2019-02-27 15:48] djhoese opened #166 "animation and frame export with optional legend"
In GitLab by @rayg-ssec on Apr 18, 2017, 11:22

Reference AWIPS export of frame or framestack, possibly

* [x] export single images for current display range
* [ ] selectable resolution matching current aspect ratio
* [ ] legend with optional annotations or formatting changes - default date, time, probably instrument
* [ ] forward speed / backward speed
* [ ] work with full product-timeline playba

[2019-02-27 15:48] djhoese commented on #166
In GitLab by @rayg-ssec on Sep 5, 2017, 11:27

marked the task **export single images for current display range** as completed

[2019-02-27 15:48] djhoese commented on #166
In GitLab by @rayg-ssec on Sep 5, 2017, 11:28

Dave Hoese addressed the base use cases of exporting images and animation. Need to review this ticket however to see if it can be closed.

[2019-02-27 15:48] djhoese opened #167 "save and load document"
In GitLab by @rayg-ssec on Apr 18, 2017, 11:39

* [ ] save current document configuration
* [ ] load (and as needed re-import) data to reconstruct display
* [ ] allow alternate search locations if data is organized differently

[2019-02-27 15:48] djhoese commented on #167
In GitLab by @rayg-ssec on Sep 5, 2017, 11:27

* [ ] Evaluate whether this can be done as JSON, or if it necessarily becomes an SQLAlchemy+sqlite refactoring of the document storage of metadata.

[2019-02-27 15:48] djhoese opened #168 "New frame and render buffers created during pan/zoom"
In GitLab by @djhoese on May 30, 2017, 14:09

While working on some vispy library development I left some debug messages enabled and while using SIFT noticed that new RenderBuffer and FrameBuffer objects were created every time I panned around the scene. I could be wrong, but I don't think this is intended. I believe there should only be a single render buffer and a single frame buffer for off scr

[2019-02-27 15:48] djhoese opened #169 "Probe longitude for certain projections east of antimeridian"
In GitLab by @jgerth on Jun 22, 2017, 21:55

The probe location value for Mercator and Himawari Geos projection show the probe longitude in degrees East (above 180 degrees) beyond the antimeridian for points to the east (where it should be degrees West). The probe longitude should be no greater than 180 degrees. For example, 200 degrees E should instead be 160 degrees W, near Hawaii for example. P

[2019-02-27 15:48] djhoese commented on #169
In GitLab by @djhoese on Jun 23, 2017, 13:18

assigned to @djhoese

[2019-02-27 15:48] djhoese commented on #169
In GitLab by @djhoese on Jun 30, 2017, 15:34

closed

[2019-02-27 15:48] #169 closed

[2019-02-27 15:48] djhoese opened #170 "Windows installer doesn't respect secondary user location"
In GitLab by @djhoese on Jul 18, 2017, 10:40

See email from Chris Schmidt below:

[2019-02-27 15:48] djhoese commented on #170
In GitLab by @djhoese on Nov 21, 2017, 09:17

This will be fixed in the next release by using OS specific directories for applications. We will use the `appdirs` python package to read the Windows system settings to figure out where to place things. Preliminary testing shows that it respects network Active Directory accounts. It *should* support user directories being moved to a secondary storage.

[2019-02-27 15:48] djhoese commented on #170
In GitLab by @djhoese on Nov 21, 2017, 09:17

closed

[2019-02-27 15:48] #170 closed

[2019-02-27 15:48] djhoese opened #171 "display workspace available/cached/loaded data in product-timeline view"
In GitLab by @rayg-ssec on Sep 5, 2017, 11:18

Worskpace Database includes metadata for external (not-yet-imported) datasets (this will be a separate ticket)
Display as a timeline GUI element, like iMovie or Logic or equivalent (albeit not as fancy).
Allow user to change state easily on individual frames

- remote -> available (background download from remote site)
- available -> cached  (backgrou

[2019-02-27 15:49] djhoese commented on #171
In GitLab by @rayg-ssec on Jul 25, 2018, 16:44

In progress for #179, closing this as redundant.

[2019-02-27 15:49] djhoese commented on #171
In GitLab by @rayg-ssec on Jul 25, 2018, 16:44

closed

[2019-02-27 15:49] #171 closed

[2019-02-27 15:49] djhoese opened #172 "populate workspace database with available data from files, directories, remote sites"
In GitLab by @rayg-ssec on Sep 5, 2017, 11:20

Allow user to specify one or more search paths in addition to ordinary "open"

* [x] user can specify local directories
* [ ] user can specify remote http/s locations for implied download of CMIP/SCMI
* [ ] user can specify local AWIPS SCMI cache

[2019-02-27 15:49] djhoese commented on #172
In GitLab by @rayg-ssec on Jul 25, 2018, 16:43

marked the task **user can specify local directories** as completed

[2019-02-27 15:49] djhoese opened #173 "support for HSD/HCAST data using himawari.HimawariAHIasCMIP adapter"
In GitLab by @rayg-ssec on Sep 5, 2017, 11:21

This adapter allows HSD and HCAST to provide equivalent interface to goesr.l1b.PugL1bTools

[2019-02-27 15:49] djhoese commented on #173
In GitLab by @djhoese on Oct 25, 2018, 13:28

This should be possible with a few small adjustments to SatPy to provide metadata that SIFT would want. SatPy has a `ahi_hsd` and `hrit_jma` reader.

[2019-02-27 15:49] djhoese opened #174 "Refactor: deprecate or provide greater query detail on workspace .get_info and .get_content"
In GitLab by @rayg-ssec on Sep 5, 2017, 11:37

get_info and get_content are written as compatibility wrappers for the workspace content and database and are unable to distinguish between multiple potential Content representations of a single Product, for instance alternate projections or levels of detail.

* [ ] identify a full use case that needs this greater detail
* [ ] get a test case together

[2019-02-27 15:49] djhoese opened #175 "Algebraic layer not appearing in area probe graphs layer lists immediately"
In GitLab by @jgerth on Sep 5, 2017, 17:23

When an algebraic layer is created, it does not appear layer lists that are part of the area probe graphs. When a second algebraic layer is created, the first algebraic layer appears in the lists.

[2019-02-27 15:49] djhoese commented on #175
In GitLab by @jgerth on Sep 5, 2017, 17:24

changed the description

[2019-02-27 15:49] djhoese commented on #175
In GitLab by @djhoese on Sep 6, 2017, 14:01

Based on some examples by @ScottLindstrom it looks as though the lists for the probe graphs are only filled when the probe is first created. If you create a new probe graph tab the list seems to include the currently existing layers.

[2019-02-27 15:49] djhoese commented on #175
In GitLab by @djhoese on Sep 6, 2017, 14:10

Add to this that the wavelength for an RGB should include the 3 wavelengths being used.

[2019-02-27 15:49] djhoese commented on #175
In GitLab by @djhoese on Sep 6, 2017, 21:20

mentioned in commit f6a3250473a48979b8df1864080a954d4852d6d8

[2019-02-27 15:49] djhoese commented on #175
In GitLab by @djhoese on Sep 16, 2017, 09:16

closed via commit f6a3250473a48979b8df1864080a954d4852d6d8

[2019-02-27 15:49] #175 closed

[2019-02-27 15:49] djhoese opened #176 "Algebraic layer details should include bands"
In GitLab by @jgerth on Sep 5, 2017, 17:28

Algebraic layer details should list the band numbers and wavelengths that contributed to the layer. If a user does not name their layer appropriately, it is difficult to remember what was created.

[2019-02-27 15:49] djhoese commented on #176
In GitLab by @djhoese on Sep 6, 2017, 13:59

@rayg-ssec Has mentioned that this information has a placeholder in the workspace database. We just need to use it and then tie that in to the layer details.

[2019-02-27 15:49] djhoese commented on #176
In GitLab by @djhoese on Sep 8, 2017, 10:00

Fixed in 99dc61578252e144ce24014ccac1df0510a11cbf

[2019-02-27 15:49] djhoese commented on #176
In GitLab by @djhoese on Oct 18, 2017, 12:20

closed

[2019-02-27 15:49] #176 closed

[2019-02-27 15:50] djhoese opened #177 "Color bar in layer details should reflect changes to gamma and limits"
In GitLab by @jgerth on Sep 5, 2017, 17:38

The color bar in the layer details should reflect changes to the gamma setting, and should alternate the order of the colors if the limits are flipped or reversed in the "Change Colormap" window. We may need to think about the best behavior when the color limits are toggled now that there is additional control.

[2019-02-27 15:50] djhoese commented on #177
In GitLab by @djhoese on Sep 6, 2017, 13:39

assigned to @djhoese

[2019-02-27 15:50] djhoese commented on #177
In GitLab by @djhoese on Sep 6, 2017, 13:58

First step is to make the Change Colormap dialog reflect the changes in the color limits when the '/' key is pressed for swapping color limits.

[2019-02-27 15:50] djhoese opened #178 "background algebraic layer calculations"
In GitLab by @rayg-ssec on Sep 6, 2017, 13:53

Scott has demonstrated a use case for large numbers of algebraic layers

Workspace needs to have a way to handle dataset recipes and basic rule-sets for implied layers being populated as metadata.

Use the Product metadata for namespace and expression (codeblock) as a start for this.

[2019-02-27 15:50] djhoese opened #179 "Support for SCMI from AHI and ABI with incremental loading"
In GitLab by @rayg-ssec on Sep 6, 2017, 14:14

Eventually: Tiled importing of SCMI based on visual priority

[2019-02-27 15:50] djhoese commented on #179
In GitLab by @djhoese on Oct 25, 2018, 13:27

As a start for this SatPy now has a `scmi` reader that I created. However, it only supports single tile files. SatPy and pyresample have logic for something like this with a `StackedAreaDefinition` object. However, this object (and satpy) assumes that we are only concatenating "rows" of data, not tiles that go horizontal as well as vertical.

One path

[2019-02-27 15:50] djhoese opened #180 "support multi-band ABI CMI files"
In GitLab by @rayg-ssec on Oct 4, 2017, 11:07

From Tim Schmit:
[code]

[2019-02-27 15:50] djhoese commented on #180
In GitLab by @djhoese on Oct 18, 2017, 12:30

@rayg-ssec where does this need to be fixed/changed? `goesr` package? SIFT?

[2019-02-27 15:50] djhoese commented on #180
In GitLab by @rayg-ssec on Jul 25, 2018, 16:42

* [ ] find a test case
* [ ] implement multi-band return from goesr module (same interface as current, but multiple instances from a single file)
* [ ] update goesr importer to use multi-band interface when populating metadata and importing data

[2019-02-27 15:50] djhoese opened #181 "default location doesnot exist when saving image"
In GitLab by @tims on Oct 4, 2017, 15:45

but there seems to be no warning and no file saved.

(this was on my windows PC)

[2019-02-27 15:50] djhoese commented on #181
In GitLab by @tims on Oct 4, 2017, 16:00

changed the description

[2019-02-27 15:50] djhoese commented on #181
In GitLab by @djhoese on Oct 18, 2017, 12:17

assigned to @djhoese

[2019-02-27 15:50] djhoese commented on #181
In GitLab by @djhoese on Oct 30, 2017, 13:12

@tims Do you have any idea what directory it defaulted to for you? It *should* be trying to put it in your Desktop.

[2019-02-27 15:50] djhoese commented on #181
In GitLab by @djhoese on Oct 30, 2017, 13:15

Also was this with the training laptops or your own machine? Most importantly did you use the all-in-one .exe installer or the conda installer like the training laptops use.

[2019-02-27 15:50] djhoese commented on #181
In GitLab by @djhoese on Nov 17, 2017, 15:37

mentioned in commit 88ba6e8ffc8761d2a2fa5d560980c54ddaa3d354

[2019-02-27 15:50] djhoese commented on #181
In GitLab by @djhoese on Nov 17, 2017, 15:56

This will be fixed in the next version. The issue was related to active directory roaming profiles which you typically see in organization computer systems (like SSEC). This means a user's settings and documents are actually stored on network storage. In the SSEC case this means your user directory is something like "\\\beans\users$\<username>\data". I

[2019-02-27 15:50] djhoese commented on #181
In GitLab by @djhoese on Nov 17, 2017, 15:56

closed

[2019-02-27 15:50] #181 closed

[2019-02-27 15:50] djhoese opened #182 "Can Multiple RGBs be created at one time?"
In GitLab by @ScottLindstrom on Oct 10, 2017, 10:12

If you've loaded a series of different bands at different times, and create an RGB for one of the times, it would be nice to have the option to create the same RGB for all the different times.  A check box?  Check here to do all loaded times?  Something like that?

[2019-02-27 15:50] djhoese commented on #182
In GitLab by @djhoese on Oct 18, 2017, 12:27

As discussed in person this is possible using the less-than-optimal method of hitting the letter 'o' key when you have the first RGB created. This will "set the animation Order" to the RGB and all of its siblings that should exist, creating any that don't exist.

Keeping this open as a reminder that this way of doing this sucks and we need a better way

[2019-02-27 15:51] djhoese commented on #182
In GitLab by @djhoese on Mar 14, 2018, 18:30

closed

[2019-02-27 15:51] #182 closed

[2019-02-27 15:51] djhoese opened #183 "Can the edits to axis labels in the Area Probe Graphs be maintained?"
In GitLab by @ScottLindstrom on Oct 13, 2017, 07:29

The Area Probe Graphs automatically generate bounds for the axes, and these can be edited.  But if you then change the time that you're looking at -- that is, draw another graph -- you lose the edited bounds.  Can a tic box be added to the effect 'Save these bands and use them the next time you draw a graph'?  Maybe right below the '(Re)Generate

[2019-02-27 15:51] djhoese commented on #183
In GitLab by @djhoese on Oct 18, 2017, 09:19

@ScottLindstrom Are you redrawing the region/polygon or are you changing the bands in the dropdown? Or something else?

What are you changing the axis labels to? Would it be better if we changed the default labels for these plots?

[2019-02-27 15:51] djhoese commented on #183
In GitLab by @ScottLindstrom on Oct 18, 2017, 13:23

@djhoese To clarify:   I made a Bargraph for one band at a particular time.  I changed the axis bounds and labels so they gave the cleanest looking graph.   Then I changed the time, and everything was redrawn.  What I'd like:  If the band is the same, or maybe even not, the axis bounds/labels persist.

[2019-02-27 15:51] djhoese opened #184 "Loading already-loaded layer from cache results in 2 list entries"
In GitLab by @djhoese on Oct 18, 2017, 12:25

Steps to reproduce:

1. Load a layer either from Open dialog or Open from Cache dialog
2. Load the same layer from the Open from Cache dialog
3. Note that the same layer is in the list twice

For step 2 if you attempt to load from the Open file dialog it prints the following warning and does not reload the layer:

[code]

[2019-02-27 15:51] djhoese commented on #184
In GitLab by @djhoese on Oct 30, 2017, 13:09

mentioned in commit 8522c92b717b21de7f45eeedb6c7b23ab8260c98

[2019-02-27 15:51] djhoese commented on #184
In GitLab by @djhoese on Oct 30, 2017, 13:09

closed

[2019-02-27 15:51] djhoese commented on #184
In GitLab by @djhoese on Oct 31, 2017, 13:39

assigned to @djhoese and unassigned @rayg-ssec

[2019-02-27 15:51] #184 closed

[2019-02-27 15:51] djhoese opened #185 "Allow Windows install wizard to configure cache and settings directories"
In GitLab by @djhoese on Nov 21, 2017, 09:15

Currently the SIFT Windows installer lists the directory it will create for the workspace (where it caches flat binary files). In the next release it will default to placing files in OS specific directories (App Data on Windows). The location for this can be customized with command line options, but most users will want to just open SIFT by double clic

[2019-02-27 15:51] djhoese opened #186 "Support polar stereographic projection"
In GitLab by @jgerth on Apr 4, 2018, 18:05

SIFT should have a polar stereographic projection centered on Alaska in the drop-down menu.

[2019-02-27 15:51] djhoese commented on #186
In GitLab by @djhoese on Apr 25, 2018, 15:09

assigned to @djhoese

[2019-02-27 15:51] djhoese commented on #186
In GitLab by @djhoese on Apr 25, 2018, 15:12

@jgerth Would modeling it off of the 203 AWIPS grid be good or did you have some other projection/center points in mind?

[2019-02-27 15:51] djhoese commented on #186
In GitLab by @djhoese on May 24, 2018, 12:40

See !3 for the resolution of this.

[2019-02-27 15:51] djhoese commented on #186
In GitLab by @djhoese on Oct 25, 2018, 13:24

closed

[2019-02-27 15:51] #186 closed

[2019-02-27 15:51] djhoese opened #187 "Time stamp w GOES-R series files"
In GitLab by @tims on Apr 13, 2018, 10:21

What time is reported below the image?
For GOES-16 the start time is 15:57:41 UTC, it's labelled as 15:57:00 UTC.
For GOES-17 the start time is 02:02:01 UTC, it's labelled as 02:00:00 UTC.

Sorry if this is a known issue.

Thanks, Tim

[2019-02-27 15:51] djhoese commented on #187
In GitLab by @djhoese on Apr 25, 2018, 15:09

assigned to @rayg-ssec

[2019-02-27 15:52] djhoese commented on #187
In GitLab by @rayg-ssec on Jul 25, 2018, 09:29

The GOES time stamps are snapped to nearby time boundaries in order to be able to match corresponding images from different channels. However, I think it should be straightforward to change the labels to show the actual time instead of the "schedule time".

[2019-02-27 15:52] djhoese commented on #187
In GitLab by @rayg-ssec on Jul 26, 2018, 15:21

mentioned in commit rayg/goesr@499197dea3a0387cc09f9bd1a010a11a23650be1

[2019-02-27 15:52] djhoese commented on #187
In GitLab by @rayg-ssec on Jul 26, 2018, 15:22

Looks like this is determined by goesr.l1b module, `self.display_time = self.sched_time.strftime('%Y-%m-%d %H:%M:%S')` which would need to change from `self.sched_time` to `st`. Committed to goesr develop...

[2019-02-27 15:52] djhoese commented on #187
In GitLab by @rayg-ssec on Jul 26, 2018, 15:24

* [x] integrate new release of goesr module including this change

[2019-02-27 15:52] djhoese commented on #187
In GitLab by @tims on Aug 2, 2018, 14:56

Tested in 1.0.0a1 and still says 17:45:00. Seems like it should either day 17:45:14 UTC, or just 17:45 UTC.

[2019-02-27 15:52] djhoese commented on #187
In GitLab by @rayg-ssec on Oct 18, 2018, 15:15

Followup on this is that while more recent ABI has a unified observation start time, this is not the case for AHI. @jgerth noted that AHI composites are showing multiple-value start times for cotemporal channels.

* [ ] make sure DISPLAY_TIME is derived from observation start time (exact)
* [ ] make sure SCHED_TIME is nominal/snapped-to-boundaries an

[2019-02-27 15:52] djhoese commented on #187
In GitLab by @rayg-ssec on Oct 19, 2018, 15:27

mentioned in commit f45b32a02d9c0c588862dfb5766d8d06f235c2e2

[2019-02-27 15:52] djhoese commented on #187
In GitLab by @djhoese on Oct 25, 2018, 13:24

@rayg-ssec marking this as fixed. If you don't think so feel free to reopen.

[2019-02-27 15:52] djhoese commented on #187
In GitLab by @djhoese on Oct 25, 2018, 13:24

closed

[2019-02-27 15:52] #187 closed

[2019-02-27 15:52] djhoese opened #188 "Convert Layer objects to XArray DataArray object"
In GitLab by @djhoese on May 24, 2018, 12:47

This is more of a proposal or point of discussion than an actual "demand". The XArray library provides a wrapper around pandas arrays which allows labeled arrays that include a `.attrs` dictionary for metadata, `.coords` for coordinates for dimensions, `.dims` for the dimensions, and can wrap regular numpy arrays or dask arrays.

With dask arrays we co

[2019-02-27 15:52] djhoese opened #189 "Can't create region probe outside of current image domain"
In GitLab by @djhoese on Jun 25, 2018, 11:22

1. Load a not-full disk image
2. Create a region probe with one or more vertices outside of the image
3. Once the region is finished there will be an error and no region is created.

Proposed solution: Clip the vertex coordinates to the min/max of the image before trying to convert them to array indexes. If it is possible this is probably cleaner to do

[2019-02-27 15:52] djhoese opened #190 "GOES-16 and GOES-17 scatter plot comparisons"
In GitLab by @jgerth on Jul 23, 2018, 11:57

The scatter plot output when comparing GOES-16 and GOES-17 for the same time does not appear to be correct.

Here are the GOES-17 files that I used (available in /home/tims/misc/do_not_post on rci):
* OR_ABI-L1b-RadF-M3C02_G17_s20181921801138_e20181921811505_c20181921811531.nc
* OR_ABI-L1b-RadF-M3C03_G17_s20181921801138_e20181921811505_c20181921811539.n

[2019-02-27 15:52] djhoese commented on #190
In GitLab by @jgerth on Jul 23, 2018, 11:58

changed the description

[2019-02-27 15:52] djhoese commented on #190
In GitLab by @rayg-ssec on Jul 25, 2018, 13:48

Test this before and after guidebook change being done for #177 - to confirm whether this is related to metadata (units / center wavelength) affecting the analysis.

[2019-02-27 15:52] djhoese commented on #190
In GitLab by @rayg-ssec on Jul 25, 2018, 14:04

Found the data on `/apollo/ait/dc/noaa/goes_s/abi/20180711/L1b/G17/RadF/` and `/apollo/ait/dc/noaa/goes_r/abi/20180711/L1b/G16/RadF` . Data has been copied using `rsync -uav OR_ABI-L1b-RadF-M3C??_G??_s2018192180* bumi:/data/test_data/old_polar2grid_data/abi/20180711/`

[2019-02-27 15:52] djhoese commented on #190
In GitLab by @rayg-ssec on Jul 25, 2018, 15:05

Issue is still present with the candidate fix for #177. Confirmed that the histograms look reasonable while the density plots appear broken, independent of G17 vs G16.

[2019-02-27 15:52] djhoese commented on #190
In GitLab by @rayg-ssec on Jul 25, 2018, 16:26

G16 and G17 are dimensionally compatible but projection mismatched (East vs Test orbits). This is believed to be causing a slice-and-mask operation to incorrectly succeed, and compare data from different geographic regions. @djhoese is looking into naive correspondence (extracting areas from each image for approximate correspondence) versus a more ro

[2019-02-27 15:52] djhoese commented on #190
In GitLab by @rayg-ssec on Aug 6, 2018, 11:41

A transposition error in the proj4 object usage resulted in a problem with matching up data in cases where projections were different. @djhoese applied a fix after many hours of diagnosis, and the results look much better.

[2019-02-27 15:52] djhoese commented on #190
In GitLab by @rayg-ssec on Aug 6, 2018, 11:41

closed

[2019-02-27 15:53] #190 closed

[2019-02-27 15:53] djhoese opened #191 "GOES-17 layer details, color enhancement"
In GitLab by @jgerth on Jul 23, 2018, 12:03

GOES-17 B02 and B03 data is not being loaded with a central wavelength in the layer details or the correct color enhancement (which should be "Square Root"). I have not attempted loading other bands.

It reports the following load error:
`ERROR 11:37:38 queue:run:L82 Background task exception:
Traceback (most recent call last):
  File "/Users/jordang/an

[2019-02-27 15:53] djhoese commented on #191
In GitLab by @rayg-ssec on Jul 25, 2018, 13:39

assigned to @rayg-ssec

[2019-02-27 15:53] djhoese commented on #191
In GitLab by @rayg-ssec on Jul 25, 2018, 13:42

Updated guidebook for H9 and G17. Testing this afternoon before pushing to develop...

[2019-02-27 15:53] djhoese commented on #191
In GitLab by @rayg-ssec on Jul 25, 2018, 15:06

mentioned in commit aab0c02a4c1f23f18c8bd27ff869de1707bc58ad

[2019-02-27 15:53] djhoese commented on #191
In GitLab by @rayg-ssec on Jul 25, 2018, 15:08

Confirmed that there's no exception and the detail view for G17 shows sqrt enhancement and matches G16 for nominal wavelength.

[2019-02-27 15:53] djhoese commented on #191
In GitLab by @rayg-ssec on Jul 25, 2018, 16:09

Closing this as solution verified in develop branch, re-open if the issue shows up again.

[2019-02-27 15:53] djhoese commented on #191
In GitLab by @rayg-ssec on Jul 25, 2018, 16:09

closed

[2019-02-27 15:53] #191 closed

[2019-02-27 15:53] djhoese opened #192 "Keywords and filtering for timeline loading of data"
In GitLab by @rayg-ssec on Jul 25, 2018, 16:28

In discussion with Jordan, the need to tag groups of frames with keywords (using directory components at the least) and filter + zoom (or pan) the timeline to tagged cases. Reference OmniOutliner filters and searches for an approximate example.

[2019-02-27 15:53] djhoese opened #193 "Timeline navigation features for v1.0"
In GitLab by @rayg-ssec on Jul 25, 2018, 16:34

These are all the things that v1.0 timeline needs to be able to do.

* [ ] Change timescale of timeline to condense or dilate time on timeline
* [ ] Remove layers by context menu on frames and tracks
* [ ] Rectangle-select frames and add/remove layers via right-click menu
* [ ] Option-select multiple frames and add/remove layers, obeying OS conventio

[2019-02-27 15:53] djhoese commented on #193
In GitLab by @rayg-ssec on Jul 25, 2018, 16:48

changed the description

[2019-02-27 15:53] djhoese opened #194 "Background database scrubbing can take long enough that timeline access to MDB fails"
In GitLab by @rayg-ssec on Jul 30, 2018, 11:48

- Load metadatabase with ~2000 products, only a few of which are to remain after purge
- stop sift, move directory with most products elsewhere (or unmount)
- restart sift, get an possible exception due to conflict between database cleaning and database use for timeline:

[code]

* [x] look at options for mitigating context-sessions generating except

[2019-02-27 15:53] djhoese commented on #194
In GitLab by @rayg-ssec on Jul 30, 2018, 14:24

more information at http://docs.sqlalchemy.org/en/rel_0_9/dialects/sqlite.html#database-locking-behavior-concurrency

[2019-02-27 15:53] djhoese commented on #194
In GitLab by @rayg-ssec on Jul 30, 2018, 15:12

marked the task **look at options for mitigating context-sessions generating exceptions instead of serializing** as completed

[2019-02-27 15:53] djhoese commented on #194
In GitLab by @rayg-ssec on Jul 30, 2018, 15:12

After trying a number of solutions, went back to doing this startup maintenance in the main thread, which is ugly but at least not crashy. Ref ec5766221533d870399d3b41139f402c5c311392

[2019-02-27 15:53] djhoese commented on #194
In GitLab by @rayg-ssec on Jul 30, 2018, 15:12

closed

[2019-02-27 15:53] #194 closed

[2019-02-27 15:54] djhoese opened #195 "Support synthetic ABI channel imagery from NWP GRIB files"
In GitLab by @rayg-ssec on Jul 30, 2018, 14:13

Jordan points out that coarse-resolution (half-degree?) imagery for a subset of ABI channels is available in some NWP GRIB files.

A future enhancement to the GRIB loader (both in satpy and SIFT) should allow loading synthetic imagery from the NWP files, treating them similarly to their equivalent ABI channels.

[2019-02-27 15:54] djhoese commented on #195
In GitLab by @djhoese on Jul 30, 2018, 14:15

Interesting. We'll need to add some UI element for choosing how a product is shown. Either as a contour or image for now, but in debug mode maybe the coverage and sparsity masks too.

[2019-02-27 15:54] djhoese commented on #195
In GitLab by @rayg-ssec on Aug 15, 2018, 13:56

assigned to @djhoese

[2019-02-27 15:54] djhoese commented on #195
In GitLab by @rayg-ssec on Aug 15, 2018, 13:56

These files are separate GRIB files with "goessim" in the name, or something along those lines

[2019-02-27 15:54] djhoese commented on #195
In GitLab by @djhoese on Oct 25, 2018, 13:23

@jgerth Have you tried these files recently? I'm fairly certain these work...at least a little bit.

[2019-02-27 15:54] djhoese commented on #195
In GitLab by @jgerth on Oct 25, 2018, 17:31

The file I tested does work, barely, but it is not mapped correctly and it reports the source as GFS even though it is a NAM file. It does not display at all on the LCC projection. An additional problem is that there were four fields in the file; not just one that appears in the wizard. I'm not quite sure which field actually loaded. The field is report

[2019-02-27 15:54] djhoese commented on #195
In GitLab by @djhoese on Oct 25, 2018, 19:00

If we need extra GRIB tables I'm not sure how much I can do unless I manually add them to the installers, but I can't easily add these to the conda package unless we start releasing our own versions of pygrib...maybe I can point pygrib to our own location for extra tables. I'd have to look.

[2019-02-27 15:54] djhoese commented on #195
In GitLab by @djhoese on Oct 25, 2018, 20:46

I took a quick glance at the file you linked, the `shortName` is 'unknown', the `units` is 'unknown', and `cfName` is 'unknown'. So...I'm not sure what information I'm supposed to use to be able to read this data. If this is caused by missing tables, do you have links to them?

The projection parameters say that this data is in LCC. It is possible that

[2019-02-27 15:54] djhoese opened #196 "ABI bands not in order in the layers menu"
In GitLab by @tims on Aug 2, 2018, 15:00

Went to file open, selected 16 ABI (full disk) bands and then it was bands 1-6, 13-16 and then 7 on.

PS: This is happening (at least) on Windows.

[2019-02-27 15:54] djhoese commented on #196
In GitLab by @tims on Aug 2, 2018, 15:01

changed the description

[2019-02-27 15:54] djhoese commented on #196
In GitLab by @rayg-ssec on Aug 15, 2018, 13:43

assigned to @rayg-ssec

[2019-02-27 15:54] djhoese commented on #196
In GitLab by @rayg-ssec on Sep 26, 2018, 18:15

This looks like it's happening because of the lexical sort by (family, category, serial) in document.py's sort_product_uuids; to allow instruments with equivalent nominal bands to exist in the same family, the µm nominal wavelength is used in that instead of the band number (which varies by instrument).

The simplest solution may be to uniformly form

[2019-02-27 15:54] djhoese commented on #196
In GitLab by @rayg-ssec on Sep 27, 2018, 10:44

One-line format string fix pushed to develop via merge of issue182-layer-load-order

[2019-02-27 15:54] djhoese commented on #196
In GitLab by @djhoese on Oct 25, 2018, 13:20

closed

[2019-02-27 15:54] #196 closed

[2019-02-27 15:54] djhoese opened #197 "Improved day time label when saving images / loop"
In GitLab by @tims on Aug 2, 2018, 15:08

Ideally the font and spacing, etc could be improved for the time stamp on the bottom of the image, when saved.

[2019-02-27 15:54] djhoese commented on #197
In GitLab by @djhoese on Aug 2, 2018, 16:42

@tims Do you have some suggestions? Could you include a screenshot? What exactly doesn't look good in your opinion? The more details you provide us the faster and easier we can fix it. Thanks.

[2019-02-27 15:54] djhoese commented on #197
In GitLab by @djhoese on Oct 25, 2018, 13:21

@tims You have not provided any suggestions for this for 2 months? Have you thought of anything now that you've been able to play with the newest versions of SIFT?

[2019-02-27 15:54] djhoese commented on #197
In GitLab by @tims on Oct 25, 2018, 14:30

![VIS_VALLEYFOG_B02_800x900_B2_2018179_113719_0001PANEL_00011](/uploads/836ad8590021b0ad9365aabe0caa66ff/VIS_VALLEYFOG_B02_800x900_B2_2018179_113719_0001PANEL_00011.GIF)

It doesn't have to be over the image, like the attached image, but could be at the bottom, but it ideally should be: more readable, something like: GOES-16  dd-Mon-YYYY hh:mm:ss UTC  Ban

[2019-02-27 15:54] djhoese opened #198 "Convert NWP layers to 3D (or more) dimensional datasets"
In GitLab by @djhoese on Aug 28, 2018, 15:45

Currently NWP (grib) layers are treated as 2D datasets with an associated pressure level. This causes issues with the current identification strategy (family, category, serial). The 'family' is meant to represent what layers should be presented in a similar way (same colormap, same color limits, etc). The 'category' is meant to denote a different group

[2019-02-27 15:55] djhoese commented on #198
In GitLab by @djhoese on Aug 28, 2018, 15:47

changed the description

[2019-02-27 15:55] djhoese opened #199 "Layer not created for algebraic composite"
In GitLab by @jgerth on Sep 4, 2018, 16:53

A new layer is not created when the user attempts to produce an algebraic composite.

To reproduce: Load at least two ABI bands, select "Create Algebraic" from the "Layer" menu, type a name (e.g., "DIFF"), and select "OK". A new layer with the difference is not created.

Instead this error is reported:
[code]

[2019-02-27 15:55] djhoese commented on #199
In GitLab by @djhoese on Sep 5, 2018, 11:16

Good news: I can reproduce this. Bad news: Not sure why it is happening.

[2019-02-27 15:55] djhoese commented on #199
In GitLab by @djhoese on Sep 5, 2018, 11:16

assigned to @djhoese

[2019-02-27 15:55] djhoese commented on #199
In GitLab by @djhoese on Sep 5, 2018, 11:16

assigned to @rayg-ssec and unassigned @djhoese

[2019-02-27 15:55] djhoese commented on #199
In GitLab by @djhoese on Sep 5, 2018, 11:16

assigned to @djhoese and unassigned @rayg-ssec

[2019-02-27 15:55] djhoese commented on #199
In GitLab by @djhoese on Oct 25, 2018, 13:04

As far as I know this has been fixed. @jgerth please reopen and let me know if this is still an issue in 1.0.0.

[2019-02-27 15:55] djhoese commented on #199
In GitLab by @djhoese on Oct 25, 2018, 13:04

closed

[2019-02-27 15:55] #199 closed

[2019-02-27 15:55] djhoese opened #200 "Change Colormap Window"
In GitLab by @jgerth on Sep 4, 2018, 17:02

If the user selects the "Return" key after adjusting the gamma value in the "Change Colormap..." window, the window is closed, but the gamma value is set to its previous value. The updated value should be retained.

The behavior is similar if the slider is adjusted for the minimum or maximum (but not the text in the adjacent boxes). It is currently not r

[2019-02-27 15:55] djhoese commented on #200
In GitLab by @djhoese on Sep 5, 2018, 08:45

You say "selects the 'Return' key" in your first sentence, do you mean hitting the Return key on the keyboard? The button on the dialog is "Reset". I *thought* this what we decided was the default but maybe something got messed up in recent updates.

[2019-02-27 15:55] djhoese commented on #200
In GitLab by @jgerth on Sep 5, 2018, 09:39

Yes, the "Return" key on the keyboard.

[2019-02-27 15:55] djhoese commented on #200
In GitLab by @djhoese on Sep 5, 2018, 10:39

assigned to @djhoese

[2019-02-27 15:55] djhoese commented on #200
In GitLab by @djhoese on Sep 5, 2018, 11:07

mentioned in commit a8c9f854459a9d0b7e0b074412d61104d437db3d

[2019-02-27 15:55] djhoese commented on #200
In GitLab by @djhoese on Oct 25, 2018, 12:44

closed via commit a8c9f854459a9d0b7e0b074412d61104d437db3d

[2019-02-27 15:55] #200 closed

[2019-02-27 15:55] djhoese opened #201 "RGB composites for additional times not created"
In GitLab by @jgerth on Sep 11, 2018, 12:07

RGB composites for additional times are not created if additional times are loaded after the initial RGB composite is created. The correct behavior is for the SIFT to create RGBs for additional times so long as all of the requisite bands are available, even if the requisite bands are only loaded after the RGB was first formulated.

[2019-02-27 15:55] djhoese commented on #201
In GitLab by @djhoese on Oct 25, 2018, 13:03

Fixed in 1.0.0

[2019-02-27 15:55] djhoese commented on #201
In GitLab by @djhoese on Oct 25, 2018, 13:03

closed

[2019-02-27 15:56] #201 closed

[2019-02-27 15:56] djhoese opened #202 "No contours for field from GFS GRIB2"
In GitLab by @jgerth on Oct 8, 2018, 05:16

I loaded the PWAT (precipitable water) field from a GFS GRIB2 analysis file. The image displays fine but there do not seem to be any contours. Also, the probe in the layer list does not return any value, regardless if it is a contour or image. I am testing on MacOS using the conda release.

[2019-02-27 15:56] djhoese commented on #202
In GitLab by @djhoese on Oct 8, 2018, 07:59

Can you point me to the exact file you were looking at? Are you sure the data is valid? Were there any new error messages on the terminal related to this?

[2019-02-27 15:56] djhoese commented on #202
In GitLab by @jgerth on Oct 8, 2018, 10:02

Sure: http://www.ftp.ncep.noaa.gov/data/nccf/com/gfs/prod/gfs.2018100400/gfs.t00z.pgrb2.0p50.anl

I am sure the data is valid, but when I went back to look for error messages, it would not reload it at all. Instead:

[code]

Thanks for investigating.

[2019-02-27 15:56] djhoese commented on #202
In GitLab by @djhoese on Oct 25, 2018, 13:02

This has been fixed by me adding more default contour intervals for more standard_names and various units. Still not the best approach but we'll have to work on that more in the future.

[2019-02-27 15:56] djhoese commented on #202
In GitLab by @djhoese on Oct 25, 2018, 13:02

closed

[2019-02-27 15:56] #202 closed

[2019-02-27 15:56] djhoese opened #203 "Contours are generated automatically. Could a text box be added so you can specify them?"
In GitLab by @ScottLindstrom on Oct 9, 2018, 09:35

Two things would be great:  The ability to specify a contour interval.  The ability to specify the contour you want to be drawn (for example, maybe you only want 0 C drawn on the 850 hPa Temperature field).

A box to enter a specific contour interval, and a box to enter a list of specific contours would be great.  I'll bake something if this is d

[2019-02-27 15:56] djhoese opened #204 ""Delete" key to remove layers"
In GitLab by @jgerth on Oct 16, 2018, 11:14

Please support use of the "Delete" key to remove a highlighted layer in the layer list.

[2019-02-27 15:56] djhoese commented on #204
In GitLab by @djhoese on Oct 16, 2018, 11:14

This is already supported. On OSX make sure you are doing `Fn + Del`

[2019-02-27 15:56] djhoese commented on #204
In GitLab by @jgerth on Oct 16, 2018, 11:27

My mistake. Can we specify `Fn + Del` as the short key in the "Edit" menu? Right now, there is no corresponding short key listed. I am also wondering how this works on international keyboards. Should we also support `Backspace`?

[2019-02-27 15:56] djhoese commented on #204
In GitLab by @djhoese on Oct 16, 2018, 11:32

Given the weird behavior we sometimes have with keyboard events not going to dialogs I would be a little concerned with Backspace being mapped to this. As for the key on the Edit menu, I think we have this set up as much as we can on our side (the code):

[code]

Qt *should* know that that is the delete key.

[2019-02-27 15:56] djhoese commented on #204
In GitLab by @djhoese on Oct 16, 2018, 11:33

Shows up on my machine.

![image](/uploads/0499aea78228ec5ad00ff8c83e016f47/image.png)

NOTE: This is from a dev environment but still using conda.

[2019-02-27 15:56] djhoese commented on #204
In GitLab by @jgerth on Oct 16, 2018, 11:49

Strange. Thanks for confirming. That is what I was hoping it would show. Mine does not show anything there.

[2019-02-27 15:56] djhoese commented on #204
In GitLab by @djhoese on Oct 25, 2018, 13:01

closed

[2019-02-27 15:56] #204 closed

[2019-02-27 15:56] djhoese opened #205 "Unable to delete RGB composite; unable to reload band from RGB"
In GitLab by @jgerth on Oct 18, 2018, 18:12

This issue uses these three Himawari files to replicate:

C05: ftp://ftp.ssec.wisc.edu/pub/ssec/jordang/OT_AHI-L2-CMIPHFD-M1C05_H8_s20182770000208_e20182770009402_c20182770819110.nc
C10: ftp://ftp.ssec.wisc.edu/pub/ssec/jordang/OT_AHI-L2-CMIPHFD-M1C10_H8_s20182770000198_e20182770009392_c20182770819126.nc
C13: ftp://ftp.ssec.wisc.edu/pub/ssec/jordang/OT_

[2019-02-27 15:56] djhoese commented on #205
In GitLab by @jgerth on Oct 18, 2018, 18:13

changed the description

[2019-02-27 15:56] djhoese commented on #205
In GitLab by @jgerth on Oct 18, 2018, 18:13

changed the description

[2019-02-27 15:57] djhoese commented on #205
In GitLab by @jgerth on Oct 18, 2018, 18:14

changed the description

[2019-02-27 15:57] djhoese commented on #205
In GitLab by @jgerth on Oct 18, 2018, 18:16

changed the description

[2019-02-27 15:57] djhoese commented on #205
In GitLab by @jgerth on Oct 18, 2018, 18:16

changed the description

[2019-02-27 15:57] djhoese commented on #205
In GitLab by @djhoese on Oct 19, 2018, 07:45

I'll try this out. I have a feeling the deletion issues you first had were causing all the later issues. It looks like these error messages are for the reloading step, not the deletion step. I also wouldn't be surprised if this is due to the timing issues mentioned on slack. That or if these had been loaded in previous versions of SIFT and something ma

[2019-02-27 15:57] djhoese commented on #205
In GitLab by @djhoese on Oct 19, 2018, 11:54

This has all been fixed in the most recent develop branch and will be released in 1.0.0b6

[2019-02-27 15:57] djhoese commented on #205
In GitLab by @djhoese on Oct 19, 2018, 11:54

closed

[2019-02-27 15:57] djhoese commented on #205
In GitLab by @rayg-ssec on Oct 19, 2018, 15:27

mentioned in commit f45b32a02d9c0c588862dfb5766d8d06f235c2e2

[2019-02-27 15:57] #205 closed

[2019-02-27 15:57] djhoese opened #206 "Remove "Colorbar" label from area probe scatter plot graph"
In GitLab by @jgerth on Oct 24, 2018, 14:24

The plot title overlaps the "Colorbar" label for figures of certain sizes. The color bar does not need to be labelled, so it should be removed.

[2019-02-27 15:57] djhoese commented on #206
In GitLab by @djhoese on Oct 25, 2018, 09:37

This has been fixed and is in the develop branch.

[2019-02-27 15:57] djhoese commented on #206
In GitLab by @djhoese on Oct 25, 2018, 09:37

closed

[2019-02-27 15:57] #206 closed

[2019-02-27 15:57] djhoese opened #207 "Support JMA NetCDF Imagery"
In GitLab by @jgerth on Oct 30, 2018, 10:29

Users have requested support for these JMA netCDF files containing latitude/longitude grids of AHI imagery: https://www.data.jma.go.jp/mscweb/en/himawari89/space_segment/sample_netcdf.html

Currently, they are not supported:
[code]

[2019-02-27 15:57] djhoese opened #208 "Better identification of what 'save all' means in Export Image"
In GitLab by @ScottLindstrom on Nov 5, 2018, 14:40

If you have multiple bands loaded, and are animating one of them, Exporting all the images will actually only export the animating frames (identified by those black boxes with white numbers to the right in the Layers window -- if you have the window wide enough, that is, otherwise you just see black boxes).
Can the 'All' feature be modified so yo

[2019-02-27 15:57] djhoese opened #209 "Apply configured color enhancement to band images loaded after initial set"
In GitLab by @jgerth on Jan 24, 2019, 11:47

The color enhancement and any other display properties should be applied to those band images that are loaded subsequently to the first image or set of images for that band. The current behavior is for additionally loaded images for a given band to use the default color enhancement, which may conflict with the same band images already animating if the u

[2019-02-27 15:57] djhoese commented on #209
In GitLab by @djhoese on Jan 24, 2019, 11:53

After the new images are loaded (with the default colormap assigned to them), does assigning a new colormap on the previously loaded images also assign the colormap for the newly loaded ones?

[2019-02-27 15:57] djhoese commented on #209
In GitLab by @djhoese on Jan 24, 2019, 11:53

assigned to @djhoese

[2019-02-27 15:57] djhoese commented on #209
In GitLab by @jgerth on Jan 24, 2019, 11:54

Yes, it does.

[2019-02-27 15:57] djhoese opened #210 "Add option for color bar on exported images"
In GitLab by @jgerth on Jan 24, 2019, 12:11

When users export an image or loop from the map display in SIFT, there should be an option to append a color bar horizontally or vertically, with the maximum, minimum, and median value labelled with the corresponding value map. Ideally, this would not overlap with the image. Right now, users must create one from the exported JSON file and append it to t

[2019-02-27 15:57] djhoese commented on #210
In GitLab by @djhoese on Jan 24, 2019, 12:14

What are you using to generate the colorbar right now?

[2019-02-27 15:58] djhoese commented on #210
In GitLab by @jgerth on Jan 24, 2019, 12:18

I have a Python script. Then I append it with ImageMagick.

[2019-02-27 15:58] djhoese commented on #210
In GitLab by @djhoese on Jan 24, 2019, 12:19

What is the python script using?

[2019-02-27 15:58] djhoese commented on #210
In GitLab by @jgerth on Jan 24, 2019, 12:20

Matplotlib

[code]

[2019-02-27 17:28] #209 closed

[2019-02-28 02:05] tims commented on #197
I'm not sure if this is automated or not, but I believe tims on github does not equal tims on gitlab. I am not the tims you are looking for.

[2019-02-28 14:53] djhoese commented on #197
Sorry @tims you are absolutely correct. This (and other issues) were ported from a local gitlab instance automatically. I forgot to convert our tims to a github account (because he doesn't have one). I'm sorry for the many emails you likely received and hope that you can unsubscribe from any issues that you were mentioned in.

Sorry again.

[2019-03-04 20:43] djhoese opened #216 "Refactor names and modules to be more PEP8 compliant"
@rayg-ssec and I, in person, have discussed renaming certain variables and modules in SIFT to be more PEP8 compliant. Key changes being that variables are lowercase underscored, classes are camelCase, modules are lowercase underscored, etc. I'd also like to take this opportunity to remove modules or argparse boilerplate that are no longer used. Ray and I plan to perform this work on Thursday, but

[2019-03-07 18:03] djhoese commented on #216
Docstring convention: Google style (need to add in READMEs and dev docs): https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html

[2019-03-07 23:11] rayg-ssec commented on #73
Major areas of function (preliminary):
- open in mulitple flavors [new dialog, original file dialog, cache dialog]
- animation controls
- probe manager interaction with layer list controls and map display
- background metadata collection
- algebraics and composites (mostly triggering external code)
- colormap editor (mostly triggering external code)
- menu system setup

Initially, focus on Main.__

[2019-03-08 02:23] djhoese opened #218 "Layers not shown in RGB selection in version 1.0.5"
#16 introduced a bug where new families of layers aren't considered new. This means that the RGB selection isn't "told" about what choices are available. I already have a fix but wanted to point this out now.

I would consider 1.0.5 more broken than 1.0.4.

[2019-03-08 02:50] #218 closed

[2019-03-08 21:16] djhoese commented on #216
Closed with #217

[2019-03-08 21:16] #216 closed

[2019-03-11 17:05] djhoese opened #220 "Migrate to PyQt5"
SIFT currently uses PyQt4. PyQt5 has been around for a long time and PyQt4 is basically deprecated from conda/conda-forge. So we need to update.

In the past we had tried to migrate to PyQt5 but there were bugs due to vispy using the old PyQt5 GL API and us using a web view for the colormap display. It resulted in weird transparency in the GL canvas and random black boxes rendering over various wi

[2019-03-11 17:07] djhoese commented on #220
Oh I should have mentioned, vispy has now merged the proper changes to the PyQt5 backend to use the new GL API so these black box issues should be fixed.